{%extends 'base/numbers_base1.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Cube Root Calculator to determine Cube Root of number {{input}}</title>
    <meta name="description" content="Cube Root Calculator to find the cube root of number {{input}} i.e. {{finalans}} automatically. Refer to step by step procedure on how the cube root of {{input}} arrived.">
    <link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
    <meta property="og:title" content="Cube Root Calculator to determine Cube Root of number {{input}}"/>
    <meta property="og:description" content="Cube Root Calculator to find the cube root of number {{input}} i.e. {{finalans}} automatically. Refer to step by step procedure on how the cube root of {{input}} arrived."/>
    <meta content="" property="og:site_name" />
    <meta content="https://onlinecalculator.guru/static/images/Numbers/Cube-Root-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
    <meta name="twitter:title" content="Cube Root Calculator to determine Cube Root of number {{input}}"/>
    <meta name="twitter:description" content="Cube Root Calculator to find the cube root of number {{input}} i.e. {{finalans}} automatically. Refer to step by step procedure on how the cube root of {{input}} arrived."/>
    <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Numbers/Cube-Root-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Cube Root Calculator to determine Cube Root of number {{input}}"/>
    <meta property='og:image' content="https://onlinecalculator.guru/static/images/Numbers/Cube-Root-Calculator.jpeg"/>
    <meta property='og:description' content="Cube Root Calculator to find the cube root of number {{input}} i.e. {{finalans}} automatically. Refer to step by step procedure on how the cube root of {{input}} arrived."/>
    <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "What is the cube root of {{input}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Cube Root of {{input}} is {{finalans}}."
        }
      },
      {
        "@type": "Question",
        "name": "Where can I get detailed steps on finding the cube root of {{input}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You can find the detailed steps on finding the cube root of {{input}} on our page."
        }
      },
      {
        "@type": "Question",
        "name": "How to find the cube root of {{input}} easily?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Take the help of our Cube Root Calculator to determine the cube root of {{input}} easily."
        }
      }]
  }
</script>
{%endblock%}
{%block content%}
<div class="container">
    <div class="card c1">
      <div class="card-header">
  <h1 class="h1">Finding Cube Root of {{input}} </h1>
  </div>
  <div class="card-body">
    <p>Utilize the <a href="{% url 'cube-root-calculator'%}">Cube Root Calculator</a> to find the cube root of number {{input}} i.e. {{finalans}} in a quick and easy way with step by step explanation.</p>
    <br>
    <p><b>Ex: </b> Cube root of 224 (or) Cube root of 88 (or) Cube root of 125</p>
    <form action="{% url 'cube-root-calculator' %}" method="POST">{% csrf_token %}
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Cube Root</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><strong>Cube Root of: </strong></div>
            </div>
            <input type="text" class="form-control" name="textfield1" id="inlineFormInputGroup" placeholder="Enter Positive Number" value="{{input}}">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Calculate</button>
        </div>
      </div>
    </form>
</div></div>
<div class="card">
    <div class="card-header">
<h2 class="h2">Detailed Solution of finding Cube Root of {{input}}</h2>
</div>
<div class="card-body">
{% autoescape off %}
{{ s }}
{% endautoescape %}
</div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="h3">Frequently Asked Questions on Cube root of {{input}}</h3>
  </div>
  <div class="card-body">
      <p class="question"><strong>1. What is the cube root of {{input}}?</strong></p>
      <p class="answer">Cube Root of {{input}} is {{finalans}}</p><hr>


        <p class="question"><strong>2. Where can I get detailed steps on finding the cube root of {{input}}?</strong></p>
        <p class="answer">You can find the detailed steps on finding the cube root of {{input}} on our page.</p><hr>


        <p class="question"><strong>3. How to find the cube root of {{input}} easily?</strong></p>
        <p class="answer">Take the help of our Cube Root Calculator to determine the cube root of {{input}} easily.</p><hr>
  </div>
</div>
</div>
{%endblock%}