{%extends 'base/numbers_base1.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/logo/Online-Calculator-Guru-Fevicon.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style2.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Divisibility Calculator to check the given {{input1}} dividend is Divisible by divisor {{input2}}</title>
    <meta name="description" content="Divisibility Calculator determines whether the number {{input1}}/{{input2}} is divisible by or not. It displays output ie., {{input1}} is {{answer}} by {{input2}} in a short span of time.">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
    <meta property="og:title" content="Divisibility Calculator to check the given {{input1}} dividend is Divisible by divisor {{input2}}"/>
    <meta property="og:description" content="Divisibility Calculator determines whether the number {{input1}}/{{input2}} is divisible by or not. It displays output ie., {{input1}} is {{answer}} by {{input2}} in a short span of time."/>
    <meta content="" property="og:site_name" />
    <meta  content="https://onlinecalculator.guru/static/images/Numbers/Divisibility-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
    <meta name="twitter:title" content="Divisibility Calculator to check the given {{input1}} dividend is Divisible by divisor {{input2}}"/>
    <meta name="twitter:description" content="Divisibility Calculator determines whether the number {{input1}}/{{input2}} is divisible by or not. It displays output ie., {{input1}} is {{answer}} by {{input2}} in a short span of time."/>
    <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Numbers/Divisibility-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Divisibility Calculator to check the given {{input1}} dividend is Divisible by divisor {{input2}}"/>
    <meta property='og:image' content="https://onlinecalculator.guru/static/images/Numbers/Divisibility-Calculator.jpeg"/>
    <meta property='og:description' content="Divisibility Calculator determines whether the number {{input1}}/{{input2}} is divisible by or not. It displays output ie., {{input1}} is {{answer}} by {{input2}} in a short span of time."/>
    <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "Is {{input1}} divisible by {{input2}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Now, {{input1}} is {{answer}} by {{input2}}."
        }
      },
      {
        "@type": "Question",
        "name": "How do you do the divisibility test for {{input1}} by {{input2}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Know the Remainder of the Division is 0 or not to check the number {{input1}} is divisible by {{input2}} or not."
        }
      },
      {
        "@type": "Question",
        "name": "How to find which divisibility rule fits for {{input1}}/{{input2}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You can easily find the divisibility rule for {{input1}}/{{input2}} from this page."
        }
      }]
  }
</script>
<script>
  window.MathJax = {
      jax: ["input/MathML","output/HTML-CSS","output/NativeMML"],
      extensions: ["mml2jax.js","MathMenu.js","MathZoom.js"],
      MathML: { extensions: ["mml3.js"]}
  };

(function(d, script) {
      script = d.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.onload = function(){
          // remote script has loaded
      };
     script.src = 'https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js';
      d.getElementsByTagName('head')[0].appendChild(script);
  }(document));
</script>
{%endblock%}
{%block content%}
<div class="container">
    <div class="card c1">
      <div class="card-header">
  <h1 class="h1">Divisibility Test of {{input1}} by {{input2}}</h1>
  </div>
  <div class="card-body">
    <p>Utilize the <a href="{% url 'divisibility' %}">Divisibility Calculator</a> to check whether the number {{input1}}/{{input2}} is divisible or not. However, {{input1}} is {{answer}} by {{input2}} as it leaves remainder {{remainder}}. So, know the complete step by step explanation for the divisibility test of {{input1}} by {{input2}} from this tool easily & quickly.</p>
    <br>
    <p><b>Ex: </b> 25/4 (or) 46/5 (or) 257/8</p>
    <form action="{% url 'divisibility' %}" method="POST">{% csrf_token %}
       
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Divisibility Test</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><strong>Is </strong></div>
            </div>
            <input type="number"  min="1" max="9999999999" name="textfield1" class="form-control" id="inlineFormInputGroup" placeholder="Number 1" required="" value="{{input1}}">
            <div class="input-group-prepend">
              <div class="input-group-text"><strong> divisible by </strong></div>
            </div>
            <input type="number"  min="1" max="9999999999" name="textfield2" class="form-control"  id="inlineFormInputGroup" placeholder="Number 2" required="" value="{{input2}}">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Calculate</button>
        </div>
      </div>
      </form>
</div></div>
<div class="card">
    <div class="card-header">
<h2 class="h2">Solution for checking the divisibility of {{input1}} by {{input2}}</h2>
</div>
<div class="card-body">
{% autoescape off %}
{{ s }}
{% endautoescape %}
</div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="h3">Frequently Asked Questions on Divisibility of {{input1}} by {{input2}}</h3>
  </div>
  <div class="card-body">
      <p class="question"><strong>1. Is {{input1}} divisible by {{input2}}?</strong></p>
      <p class="answer">Now, {{input1}} is {{answer}} by {{input2}}.</p><hr>


        <p class="question"><strong>2. How do you do the divisibility test for {{input1}} by {{input2}}?</strong></p>
        <p class="answer">Know the Remainder of the Division is 0 or not to check the number {{input1}} is divisible by {{input2}} or not.</p><hr>


        <p class="question"><strong>3. How to find which divisibility rule fits for {{input1}}/{{input2}}?</strong></p>
        <p class="answer">You can easily find the divisibility rule for {{input1}}/{{input2}} from this page.</p><hr>
  </div>
</div>
</div>
{%endblock%}