{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Rounding calculator</title>
<meta name="description"
    content="Electric Power Calculator makes it easy for you to determine the electric power consumption in fraction of seconds with steps." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Fan CFM Calculator | Free Calculator to find Fan CFM" />
<meta property="og:description" content="Fan CFM Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Fan CFM Calculator | Free Calculator to find Fan CFM" />
<meta name="twitter:description"
    content="Fan CFM Calculator makes it easy for you to determine the theoretical yield value in fraction of seconds with steps." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Electric Power Calculator | Free Calculator to find Power" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Fan CFM Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>

{%if go_to %} 
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
	  document.addEventListener('DOMContentLoaded', function () {
		document.getElementById('ddd').click();
		});
</script>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Rounding to nearest one eighth (1/8) Calculator</h1>
        </div>
        <div class="card-body">
            <p id="error">
            {% if error %}
            <p><b>!! Incorrect values !! Please enter correct values</b></p>
            {%endif%}
            </p>
            <form method="post" id="my_form">
                {% csrf_token %}
                <div class="col-auto">
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Value to be rounded : </strong></div>
                        </div>
                        <input type="text" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter value to be rounded" maxlength="100" class="form-control"
                             name="inp" {% if inp %} value="{{inp}}" {% else %} value="34.45" {% endif %}>
                    </div>

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>
        </div>
    </div>
</div>


<div id="clear">
    {% if result %}
    <div class="card" id="result">
        <div class="card-header">
            <h2 class="h2">Result of Rounding to nearest one eighth(1/8):</h2>
        </div>

        <div class="card-body">
            <p>Given, value to be rounded is : <b>{{inp}}</b></p>
            <p>To be rounded in  : nearest   &nbsp; <b><sup>1</sup>&frasl;<sub>{{calcval}}</sub></b></p>
            {% if frac %} 
                <p>The fractional part is {{deci}}. </p><p>This value is nearest to {{deci_round}}.</p>
                <p>And, {{deci_round}} in fraction of {{calcval}} is equivalent to <sup>{{frac_num}}</sup>&frasl;<sub>{{frac_den}}.</sub></p> 
            {% else %}
                <p>Since, given input is nearest to an integer {{res}}.</p> <p>It's rounding result will be same as {{res}}.</p>
            {% endif %}
            <p>So finally, <b>{{inp}}</b>, when rounded to nearest &nbsp; <sup>1</sup>&frasl;<sub>{{calcval}}</sub> , results in <b>{{res}} {% if frac %} <sup>{{frac_num}}</sup>&frasl;<sub>{{frac_den}}</sub> {% endif %}</b>. </p>
        </div>
            
        
    </div>

    {% endif %}
</div>


</div>



<script>
    var validNumber = new RegExp(/^\d*\.?-?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
        console.log(elem)
        if (validNumber.test(elem.value)) {
            fist_input = elem.value;
        } else {
            elem.value = fist_input;
        }
    }
</script>

<script>
    function myFunction() {
        document.getElementById('error').innerHTML="";
        document.getElementsByName("inp")[0].value = "";
        document.getElementById("result").innerHTML = "";
        
    }
</script>
<br>


{% endblock %}