{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- Favicon -->
<link rel="shortcut icon" href="static\images\logo\Rounding-Calculator-icon.svg" type="icon">
<!--  Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="/static/style2.css">
{%endblock%}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Number Rounding to the Nearest Ones Calculator</title>
<meta name="description"
    content="This Calculator makes it easy for you to perform the Number Rounding to the Nearest Ones Calculator." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta property="og:description" content="Theoretical Yeild Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta name="twitter:description"
    content="Magnetic force between wires Calculator makes it easy for you to find magnetic force between wires." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Theoretical Yeild Calculatorr | Theoretical Yeild" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Magnetic force between wires Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->



{% endblock %}
{% block content %}
<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Rounding to nearest Ten Million Calculator</h1>
        </div>
        <div class="card-body">

            <ul class="messages">
                <p id="error" class="alert alert-danger text-center" style="color:red;display:none">Invalid value
                </p>
            </ul>

            <form method="post" id="my_form" onsubmit="return function1()">
                {% csrf_token %}
                <div class="col-auto">

                    
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Value to be rounded : </strong></div>
                        </div>
                        <input type="number" oninput="validateNumber(this);" id="inlineFormInputGroup" step="any"
                                required="" class="form-control"  name="firstno" value="{{firstno}}">
                    </div>

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>
        </div>
    </div>
</div>


{% if id == 1 %}
    <div id="clear">
      <div class="card" id="magnetic-force">
        <div class="card-header">
          <h2 class="h2">{{firstno}} Rounding to the Nearest Ten Millions Calculator</h2>
        </div>
        <div class="card-body">
          <p><b> Round off value = {{rounding}} </b></p>

        </div>
      </div>
    </div>
    {%endif%}

    {% if id == 1  %}
    <div id="clear1">
    <div class="card" >
        <div class="card-header">
            <h2 class="h2">{{firstno}} Rounding to the nearest ten millions Calculator</h2>
        </div>
        <div class="card-body">
            Given number is {{firstno}}
            <br>
            {% if rem >= 5  %}
            The number at the tens place is {{rem}} which is equal or above 5. So, round up the value.<br>

            rounded value of {{firstno}} is {{rounding}}.<br>

            Therefore, {{firstno}} rounded to the nearest Hundreds is {{rounding}}.
            {% endif %}
            {% if rem < 5  %}
            The number at the tens place is {{rem}} which is less 5. So, round down the value.<br>

            rounded value of {{firstno}} is {{rounding}}.<br>

            Therefore, {{firstno}} rounded to the nearest Hundreds is {{rounding}}.
            {% endif %}

        </div>
    </div>
    </div>  

     
    {%endif%}


<script>

    {% if id == 1 %}

    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    {% endif %}

    function myFunction() {
        document.getElementsByName("firstno")[0].value = "";

        document.getElementById("clear").innerHTML = "";
        document.getElementById("clear1").innerHTML = "";

    }
</script>
{% endblock %}