{%extends 'base/numbers_base1.html'%}
{%load static%}
{%block meta%}
<meta charset="utf-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
{%block css%}
<link rel="stylesheet" href="/static/style.css">
{%endblock%}

<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- META DATA STARTS --->
<title>About Us - RoundingCalculator.Guru</title>
<meta name="description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly.">
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="About Us - RoundingCalculator.Guru" />
<meta property="og:description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="About Us - RoundingCalculator.Guru" />
<meta name="twitter:description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="About Us - RoundingCalculator.Guru" />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" />
<meta property='og:description'
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
{%endblock%}
{%block content%}
  <div class="container rounded-2 pl-3 pr-3 pt-2 pb-2" style="border:1px solid rgb(240, 236, 236)">
        <h1>About us - RoundingCalculator.Guru</h1>
        <p><span>Roundingcalcultor.guru&rsquo;s sole focus is to give you fast, comprehensive, free online calculators in the area of rounding. As of now, we are having plenty of concepts in the area of rounding that help you do your math quickly. Our major aim is to be the one-stop destination and go-to site for all those who wanted to do their rounding calculations quickly. We are working on a technology that will change every calculation-based problem trivial to solve for anyone. Improve your process of learning and building by working closely with our calculators and clear your queries that are left unanswered.</span></p>
        <p><span>We developed every calculator individually and put each one under strict and comprehensive testing. However, if you find any minute errors do let us know your feedback so that we can modify and correct them. The whole intention behind this user-friendly site is to simplify the lives of professionals, students, teachers, and anyone who wanted to solve problems on the rounding concept.</span></p>
        <p><span>Hope you reach greater heights in your learning process and understand the concepts well.</span></p>
        <br>
        <br>
  </div>
{%endblock%}