{%extends 'base/numbers_base1.html'%}
{%load static%}
{%block meta%}
<meta charset="utf-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
{%block css%}
<link rel="stylesheet" href="/static/style.css">
{%endblock%}

<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- META DATA STARTS --->
<title>Disclaimer - RoundingCalculator.Guru</title>
<meta name="description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly.">
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Disclaimer - RoundingCalculator.Guru" />
<meta property="og:description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Disclaimer - RoundingCalculator.Guru" />
<meta name="twitter:description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Disclaimer - RoundingCalculator.Guru" />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" />
<meta property='og:description'
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
{%endblock%}
{%block content%}
  <div class="container rounded-2 pl-3 pr-3 pt-2 pb-2" style="border:1px solid rgb(240, 236, 236)">
        <h1>Disclaimer - RoundingCalculator.Guru</h1>
        <p><strong>RoundingCalculator.Guru</strong> is purely made for education purpose and we keep every measure to avoid any possibility of offensive material. However, we cannot guarantee that the site is totally free from these kinds. If anyone finds a content which is injuring your rights then you can provide us with a clue on our contact us @ – roundingcalculatorguru@gmail.com and we will make changes as soon as possible.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  </div>
{%endblock%}