{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%block meta%} {%endblock%} {%block css%} {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/logo/Rounding-Calculator-icon.svg" type="icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z160YCS2W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2Z160YCS2W');
</script>
<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4620359738364721"
     crossorigin="anonymous"></script>

<!-- Google Scripts done -->
<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="/">
          <img src="\static\images\logo\Rounding-Calculator.svg" width="250" class="p-1 float-left" alt="">
      </a>
      <button class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto p-2">
          <li class="nav-item">
            <a class="nav-link" href="/rounding-numbers-calculator/">Rounding Numbers Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rounding-decimal-to-fraction-calculator/">Rounding Fractions Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rounding-decimals-calculator/">Rounding Decimals Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rounding-money-calculator/">Rounding Money Calculator</a>
          </li>
        </ul>
      </div>
    </nav>
  </head>
  <body>
    {%block content%} {%endblock%}
        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark bg-info text-white">
          <!-- Footer Links -->
          <div class="text-center text-md-left pl-5 mt-4">
            <!-- Grid row -->
            <div class="container">
            <div class="row">
              <div class="container"></div>
              <!-- Grid column -->
              <div class="col-sm-4 mx-auto">
                <!-- Content -->
                <h4 class="font-weight-bold text-uppercase mt-4 mb-4 text-left">Favorite Calculators</h4>
                <ul class="list-unstyled pl-3">
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://onlinecalculator.guru/" title="Online Calculator">Online Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://onlinecalculator.guru/math-calculator/" title="Maths Calculator">Maths Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://physicscalculatorpro.com/" title="Physics Calculator">Physics Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://chemistrycalculatorpro.com/" title="Chemistry Calculator">Chemistry Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://linearequationscalculator.com/" title="Linear Equations Calculator">Linear Equations Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://lcmgcf.com/" title="LCM and GCF Calculator">LCM and GCF Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://multiplyfractions.com/" title="Fractions Calculator">Fractions Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://factorpolynomials.com/" title="Polynomials Calculator">Polynomials Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://percentagecalculator.guru/" title="Percentage Calculator">Percentage Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://areavolumecalculator.com/" title="Area and Volume Calculator">Area and Volume Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://statisticscalculators.net/" title="Statistics Calculator">Statistics Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://hcflcm.com/" title="HCF and LCM Calculator">HCF and LCM Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://sequencecalculators.com/" title="Sequences Calculator">Sequences Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://probabilitycalculator.guru/" title="Probability Calculator">Probability Calculator</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="https://arithmeticcalculator.com/" title="Arithmetic Calculator">Arithmetic Calculator</a></li>
                </ul>
              </div>
              <!-- Grid column -->
              <hr class="clearfix w-100 d-md-none">
              <!-- Grid column -->
              <div class="col-sm-4 mx-auto">
                <!-- Links -->
                <h4 class="font-weight-bold text-uppercase mt-4 mb-4 text-left">Popular Calculators</h4>
                <ul class="list-unstyled pl-3">
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-ones-calculator/" title="Nearest Ones">Nearest Ones</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-tens-calculator/" title="Nearest Tens">Nearest Tens</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-hundred-calculator/" title="Nearest Hundreds">Nearest Hundreds</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-thousand-calculator/" title="Nearest Thousands">Nearest Thousands</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-tenth-calculator/" title="Nearest Tenth">Nearest Tenth</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-nearest-thousandth-calculator/" title="Nearest Thousandth">Nearest Thousandth</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-ten-thousandth-calculator/" title="Nearest Ten Thousandth">Nearest Ten Thousandth</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-hundred-thousandth-calculator/" title="Nearest Hundred Thousandth">Nearest Hundred Thousandth</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-cent/" title="Round to the Nearest Cent">Round to the Nearest Cent</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-5-cents/" title="Round to the Nearest 5 Cents">Round to the Nearest 5 Cents</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-10-cents/" title="Round to the Nearest 10 Cents">Round to the Nearest 10 Cents</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-25-cents/" title="Round to the Nearest 25 Cents">Round to the Nearest 25 Cents</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-dollar/" title="Round to the Nearest Dollar">Round to the Nearest Dollar</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-nearest-pounds-calculator/" title="Round to the Nearest Pound">Round to the Nearest Pound</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/rounding-to-the-nearest-whole-number-calculator/" title="Round to the Nearest Whole Number">Round to the Nearest Whole Number</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/round-to-the-nearest-integer-calculator/" title="Round to the Nearest Integer">Round to the Nearest Integer</a></li>
                </ul>
              </div>
              <!-- Grid column -->
              <hr class="clearfix w-100 d-md-none">
              <div class="col-sm-4 mx-auto">
                <h4 class="font-weight-bold text-uppercase text-left mt-4 mb-4">Company</h4>
                <ul class="list-unstyled pl-3">
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/about-us/">About us</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/contact-us/">Contact us</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/privacy-policy/">Privacy policy</a></li>
                  <li class="footer-list text-left pb-1"><a class="pl-2 pb-2" href="/disclaimer/">Disclaimer</a></li>
                </ul>
                <h4 class="font-weight-bold text-uppercase text-left mt-4 mb-3">Follow Us</h4>
                <div class="list-unstyled mb-3">
                  <li class="footer-list text-left pl-3">
                    <a class="pr-3" href="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/"><i class="fab fa-facebook-f"></i></a>
                    <a class="pr-3" href="https://twitter.com/onlinecalculat"><i class="fab fa-twitter"></i></a>
                    <a class="pr-3" href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/"><i class="fab fa-youtube"></i></a>
                    <a class="pr-3" href="https://www.linkedin.com/in/onlinecalculator/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </div>
              </div>
              <hr class="clearfix w-100 d-md-none">
            </div>
          </div>
          </div>
        
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3 footer-list">© Copyright:
            <a class="font-weight-bold" href="/"> RoundingCalculator.Guru</a>
          </div>
          <!-- Copyright -->
        
        </footer>
  </body>
</html>
