{%extends 'base/numbers_base1.html'%}
{%load static%}
{%block meta%}
<meta charset="utf-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
{%block css%}
<link rel="stylesheet" href="/static/style.css">
{%endblock%}

<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- META DATA STARTS --->
<title>Privacy Policy - RoundingCalculator.Guru</title>
<meta name="description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly.">
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Privacy Policy - RoundingCalculator.Guru" />
<meta property="og:description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Privacy Policy - RoundingCalculator.Guru" />
<meta name="twitter:description"
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Privacy Policy - RoundingCalculator.Guru" />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/base/Math-Calculator.jpeg" />
<meta property='og:description'
  content="Online Rounding Calculators helps to round off a number based on the given conditions. Check the detailed steps for rounding a number easily & quickly." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
{%endblock%}
{%block content%}
  <div class="container rounded-2 pl-3 pr-3 pt-2 pb-2" style="border:1px solid rgb(240, 236, 236)">
        <h1>Privacy Policy - RoundingCalculator.Guru</h1>
        <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

        <p><b>When do we collect information?</b></p>
        
        <p>We collect information from you when you subscribe to a newsletter or enter information on our site.</p>
        
        <p><b>How do we use your information?</b></p>
        
        <p>We may use the information</p>
        <ul>
           <li>To improve our website in order to better serve you.</li>
           <li>To allow us to better service you in responding to your customer service requests.<b>How do we protect visitor information?</b></li>
           <li>We only provide articles and information, we never ask for personal or private information like email addresses, or credit card numbers.</li>
        </ul>
        <p><b>Do we use 'cookies'?</b></p>
        
        <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
        
        <p><b>Third Party Disclosure</b></p>
        
        <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</p>
        
        <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
        
        <p><b>Third party links</b></p>
        
        <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
        
        <p><b>Google:</b> Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. <br><a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en" rel="nofollow">https://support.google.com/adword<br>spolicy/answer/1316548?hl=en</a></p>
        
        <p><strong><u>We use Google AdSense Advertising on our website.</u></strong></p>
        
        <p>Google, as a third party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on their visit to our site and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>
        
        <p>We have implemented the following:</p>
        <ul>
           <li>Google Display Network Impression Reporting</li>
           <li>Demographics and Interests Reporting</li>
           <li>DoubleClick Platform Integration</li>
        </ul>
        
        <p>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions, and other ad service functions as they relate to our website.</p>
        
        <p><b>Opting out:</b></p>
        
        <p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.</p>
      </p>
  </div>
{%endblock%}