/* Factor Tree Tables and Marking #Sampad */
table.factortree {
  border: 0pt solid black;
}

.circle {
  background-color: #fff;
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid blue;
  margin: auto;
  line-height: 65px;
  text-align: center;
}
.circle1 {
  background-color: #fff;
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid red;
  margin: auto;
  line-height: 65px;
  text-align: center;
}

td.factortree {
  border: 0pt solid black;
}
td.diagonalRising {
  background: linear-gradient(
    to right bottom,
    #ffffff 0%,
    #ffffff 49.9%,
    #000000 50%,
    #000000 51%,
    #ffffff 51.1%,
    #ffffff 100%
  );
}

td.diagonalFalling {
  background: linear-gradient(
    to right top,
    #ffffff 0%,
    #ffffff 49.9%,
    #000000 50%,
    #000000 51%,
    #ffffff 51.1%,
    #ffffff 100%
  );
}

/* Comment Categories & Name - Search for Categories Like Input, Navbar, Media, Footer, Table*/

/* Font Family Entire Project #Valpy */
.container {
  border-color: #eff1f3!important;
  border-radius: 1rem!important;
}
/*Paragraph  #Valpy*/
p {
  font-size: 1.1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0.5rem!important;
  font-family: 'Inter', sans-serif!important;
}
pre{
  font-size: 1.1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0.5rem!important;
}

/* Media Classes for Navbar, Footer and Home Page Heading  #Valpy*/

@media screen and (min-width: 768px) {
  td {
    padding: 5px;
  }
  .footer-h4 {
    font-size: 25px;
    color: #fff;
    padding-right: 15px;
  }
  .footer-h5 {
    font-size: 20px;
    color: #fff;
    padding-right: 10px;
  }
  .footer-text {
    font-size: 20px;
    color: #fff;
  }
  .footertext a {
    font-size: 20px !important;
    padding-right: 20px !important;
  }
  .footertext a:hover {
    color: #fff !important;
  }
  .social {
    padding-top: 5px !important;
    padding-right: 15px;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block !important;
  }
}

.card-header {
  background-color: #fff!important;
  padding: 5px!important;
}


.card {
  margin-bottom: 20px !important;
}

@media screen and (max-width: 768px) {
  #wordprob {
    width: 250px !important;
  }
  .solve4 {
    background-color: #3574e9;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 15px 0px 15px;
    -moz-border-radius: 10px;
    height: 35px;
    vertical-align: bottom;
    margin-bottom: 5px;
  }
  .input-group-text,
  #inlineFormInputGroup,
  .input-group-prepend {
    width: 100%;
  }
  .row {
    margin: 0px !important;
  }
  .footertext a {
    font-size: 16px !important;
    padding-right: 45px !important;
  }
  .footertext a:hover {
    color: #fff !important;
  }
  .footer-h4 {
    font-size: 16px;
    color: #fff;
    padding-right: 8px;
  }
  .footer-text {
    font-size: 16px;
    color: #fff;
  }
  .social {
    padding-right: 8px;
  }
  .footer-h5 {
    font-size: 16px;
    color: #fff;
    padding-right: 4px;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block !important;
  }
}

/*Navbar #Valpy*/

.navbar nav ul,
.nav-item {
  list-style-type: none!important;
}

.menu-bar .navbar-toggler {
  padding-right: 20px;
  outline: none !important;
  border: none !important;
  color: #fff !important;
}

.navbar .fa {
  color: #fff !important;
  font-size: 20px;
}


/* Textarea for Long Addition #Praharsha */
textarea.longadd {
  width: 100%;
  height: 100%;
  border: none;
  text-align: right;
  align-content: right;
  box-sizing: border-box;
  padding: 16px 32px;
  font-size: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* LCMG and GCF Tables and Marking #Sampad */

mark {
  background: yellow;
}
textarea {
  overflow: auto;
}

/* Input Group Gap #Sampad */
#inlineFormInputGroup {
  margin-top: 0px;
}
.input-group-text {
  margin-top: 0px;
}
.btn-primary {
  margin-top: 8px;
}

/*Ul #Valpy*/
ul,
.ul-format {
  font-size: 1.1rem;
}

/*Footer-Styling #Valpy*/
.footer a {
  color: white;
  font-size: 1rem;
}

.clickable:hover {
  color: white;
}

.footer {
  background-color: #009fe8;
  flex-shrink: 0;
  color: white;
  width: 100% !important;
}

/* Fractions input and Marking #Sampad */
@media screen and (min-width: 768px) {
  .cell2 {
    padding-left: 80px;
  }

  .box5 {
    padding-bottom: 10px;
    width: 45%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .solve4 {
    background-color: #3574e9;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 15px 0px 15px;
    -moz-border-radius: 10px;
    height: 35px;
    vertical-align: bottom;
    margin-left: 25px;
    margin-bottom: 5px;
  }
  #botton4 {
    padding-left: 55px !important;
  }
  .solveout1 {
    margin-left: 40px;
  }
  .solveout2 {
    margin-left: 80px;
  }
  .solveout3 {
    margin-left: 15px;
  }
  #deci_id {
    margin-left: 490px;
  }
  .box4 {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 10px;
    width: 45%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .cell1 {
    padding-left: 55px;
  }
  .box3 {
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 10px;
    width: 45%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .box {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 30%;
    font-size: 18px;
    line-height: 1.8;
    background-color: white;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .box2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 35%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  /*Estimating #Praharsha*/
  .box1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 30%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  #deci_id {
    margin-left: 100px;
  }
  .solveout1 {
    margin-left: 35px;
  }
  .solveout2 {
    margin-left: 55px;
  }
  .solveout3 {
    margin-left: 50px;
  }
  .box5 {
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .box3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .box4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .box2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 1.8;
    background-color: #eff2f6;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .box {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 90%;
    font-size: 18px;
    line-height: 1.8;
    background-color: white;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
  }
  .solveout {
    margin-left: 30px;
  }
}

.in {
  padding-left: 5px;
  width: 50px;
  height: 35px;
  text-align: left;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.in1 {
  padding-left: 5px;
  width: 90px;
  height: 35px;
  text-align: left;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.in11 {
  padding-left: 5px;
  width: 90px;
  height: 50px;
  text-align: left;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.out {
  padding-left: 5px;
  width: 130px;
  height: 35px;
  text-align: left;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 5px;
}

.solve5 {
  background-color: #3574e9;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 15px 0px 15px;
  -moz-border-radius: 10px;
  height: 35px;
  vertical-align: bottom;
  margin-bottom: 5px;
  margin-left: 18px;
}

.solve {
  background-color: #3574e9;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 15px 0px 15px;
  -moz-border-radius: 10px;
  height: 35px;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.divider {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: #fff;
  background-image: url(https://thefractioncalculator.com/images/select-arrow.png);
  background-position: center right;

  background-repeat: no-repeat;
  outline: none;
  border: 1px solid #ccc;
  vertical-align: top;
  width: 60px;
  height: 50px;
  font-size: 20pt;
  margin: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 15px;
}

.lines {
  height: 3px;
  border: none;
  color: #000;
  background-color: #000;
  width: 50px;
  font-size: 2px;
}
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid black;
}
.frac span.symbol {
  display: none;
}
#lcmtable {
  border-collapse: collapse;
  border-style: hidden;
  margin-top: 0;
}
#lcmtable td {
  border: 2px solid black;
  padding: 5px;
}
.fraction {
  margin-left: auto;
  margin-right: auto;
}

/*Footer-Styling #Valpy*/
.footer a {
  color: white;
  font-size: 1rem;
}

.clickable:hover {
  color: white;
}

.footer {
  background-color: #009fe8;
  flex-shrink: 0;
  color: white;
  width: 100% !important;
}

/* Formulas Styling Valpy */
.formulas {
  background-color: #ffffff !important;
}
.col {
  word-wrap: break-word;
  padding: 0px !important;
}
#formula-list a {
  color: #f061a6;
}
#formula-list ul li i {
  position: absolute;
  left: 0;
  top: 5px;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  text-align: center;
}
.lines1 {
  height: 3px;
  border: none;
  color: #000;
  background-color: #000;
  font-size: 2px;
}
div.scrollmenu {
  background-color: #009fe8;
  overflow: auto;
  white-space: nowrap;
  padding: 6px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: #009fe8;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
}

div.scrollmenu a:hover {
  background-color: #009fe8;
}

div.scrollmenu ::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/*Table css*/
th,
td {
  text-align: center;
}
.result td,
tr {
  padding: 10px !important;
}
.result td,
th {
  padding: 5px;
}
.result {
  border: 1px solid #ddd;
  width: 100%;
}
.result th {
  background-color: #e2f0c6;
}
.result tr {
  border-bottom: 1px solid #ddd;
}
.result tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.cell4 {
  margin-left: auto;
  margin-right: auto;
}
#botton5 {
  margin-left: auto !important;
  margin-right: auto !important;
}

ul li {
  line-height: 1.7em;
}
#wordprob {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  font: inherit;
  line-height: inherit;
  width: 350px;
  padding: 2px;
  font-size: 12pt;
  border: 10px solid #000;
  height: 100px;
  color: #000;
  font-family: times;
  background-color: #fff;
  font-weight: 700;
}
#lesm {
  line-height: 28px;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  padding: 2px;
  font-family: arial;
  font-size: 18px;
  color: #000;
}

/*Footer-Styling #Valpy*/
body {
  min-height: 75rem;
  padding-top: 6rem;
}

.navbar {
  padding: 0px!important;
  border: 1px solid rgb(238, 236, 236);
}

.footer-list a {
  color: white !important;
  font-size: 1.1rem;
}

.clickable:hover {
  color: white;
}

.nav-link {
  font-size: 1.2rem;
  margin: auto;
  color: rgb(8, 8, 8)!important;
  font-weight: 500;
}

.card{
  padding: 1.5em .5em .5em;
  border-bottom-left-radius: 3em!important;
  border-bottom-right-radius: 3em!important;
  border-top-left-radius: 3em!important;
  border-top-right-radius: 3em!important;
  box-shadow: 5px 5px 10px #e1e1e1;
  border: #012A72;
}

h1 {
  color: #012A72!important;
  font-size: 2rem!important;
  font-weight: 600!important;
  font-family: 'Inter', sans-serif!important;
}

h2 {
  color: #012A72!important;
  font-size: 1.8rem!important;
  font-weight: 600!important;
  font-family: 'Inter', sans-serif!important;
}

h3 {
  color: #012A72!important;
  font-size: 1.5rem!important;
  font-weight: 600!important;
  font-family: 'Inter', sans-serif!important;
}

h3 u{
  font-size: 24px!important;
  color: #012A72;
  font-weight: 600;
}

h3 a {
  color: #012A72;
  font-weight: 600;
}

div.card-body {
  padding: 1.2rem!important;
}

.card ul {
  padding-left: 20px!important;
}

.col-sm-4 {
  padding: 0px!important;
}
