{% extends 'base/numbers_base3.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Meta Title, Description and Canonical URL Starts -->
<title> What is {{aa}}/{{cc}} plus {{bb}}/{{dd}}</title>
<meta name="description" content="Adding Fractions  Calculator makes it easy for you to find Adding Fractions " />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS -->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Adding Fractions  Calculator | Free Calculator to find Adding Fractions " />
<meta property="og:description" content="Adding Fractions  Calculator makes it easy for you to find Adding Fractions" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Adding Fractions  Calculator | Free Calculator to find Adding Fractions " />
<meta name="twitter:description"
    content="Adding Fractions  Calculator makes it easy for you to find Adding Fractions  " />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle></tittle>
<meta property='og:title' content="Adding Fractions  Calculator | Adding Fractions " />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description'
    content="Adding Fractions  Calculator makes it easy for you to find Adding Fractions  " />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }


    @media screen and (min-width: 768px) {


        .solveout2 {
            margin-left: 80px;
        }

        .box {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            width: 30%;
            font-size: 18px;
            line-height: 1.8;
            background-color: white;
            border-radius: 9px;
            margin-left: 0px;
            margin-right: 10px;
            margin-bottom: 20px;
            border-style: groove;

            margin-left: auto;
            margin-right: auto;
        }


    }


    @media screen and (max-width: 768px) {

        .solveout2 {
            margin-left: 55px;
        }

        .box {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            width: 90%;
            font-size: 18px;
            line-height: 1.8;
            background-color: white;
            border-radius: 9px;
            margin-left: 0px;
            margin-right: 10px;
            margin-bottom: 20px;
            border-style: groove;

            margin-left: auto;
            margin-right: auto;
        }

        .solveout {
            margin-left: 30px;
        }

    }

    .in1 {
        padding-left: 5px;
        width: 90px;
        height: 35px;
        text-align: left;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .in11 {
        padding-left: 5px;
        width: 90px;
        height: 50px;
        text-align: left;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .out {
        padding-left: 5px;
        width: 130px;
        height: 35px;
        text-align: left;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 5px;
    }

    .fraction {
        margin-left: auto;
        margin-right: auto;
    }

    .lines1 {
        height: 3px;
        border: none;
        color: #000;
        background-color: #000;
        font-size: 2px;
    }

    .solve {
        background-color: #3574e9;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 15px 0px 15px;
        -moz-border-radius: 10px;
        height: 35px;
        vertical-align: bottom;
        margin-bottom: 5px;
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">What is <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                        class="bottom">{{cc}}</span></span> plus <span class="frac"><span>{{bb}}</span><span
                        class="symbol">/</span><span class="bottom">{{dd}}</span></span></h1>

        </div>

        <div class="card-body">


            <form action="" method="POST" id="my_form">
                {% csrf_token %}
                <p> The addition is the basic arithmetic operations that are used in our daily life. A fraction is a
                    rational number that is written in the p/q form where p is the numerator and q is the denominator.
                    <a href="/adding-fraction-calculator/">Adding Fractions Calculator</a> is an online tool that is
                    used to add fraction numbers in a simple way.</p>

                <table width="300" height="100" align="center" border="0" cellspacing="0" cellpadding="4"
                    style="background-color:#ffffff;border:1px #000000 solid; border-bottom: 2px solid">
                    <tr>
                        <td align="center" valign="middle">
                            <table width="150" height="100" border="0" cellspacing="0" cellpadding="0"">
                                <tr>

                                    <td style=" border-bottom:2px #000000 solid;">
                                <input type="text" size="10" tabindex="1" onkeypress="return isNumberKey(event)"
                                    required required step="1"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="5" min="1" step="any" max="9999" oninput="validateNumber(this);" required=""
                                    placeholder="" id="aa" name="aa" {% if aa %} value="{{aa}}" {% else %} value="20" {% endif %}>
                        </td>
                        <td rowspan="2" align="center" valign="middle">
                            <select name="Op" tabindex="3">
                                <option value="+">+</option>

                            </select>
                        </td>
                        <td style="border-bottom:2px #000000 solid;">
                            <input type="text" size="10" tabindex="4" onkeypress="return isNumberKey(event)" required
                                required step="1"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="5" step="any" max="9999" oninput="validateNumber(this);" required=""
                                placeholder="" id="bb" name="bb" {% if bb %} value="{{bb}}" {% else %} value="40" {% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="10" tabindex="4" onkeypress="return isNumberKey(event)" required
                                required step="1"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="5" step="any" max="9999" oninput="validateNumber(this);" required=""
                                placeholder="" id="cc" name="cc" {% if cc %} value="{{cc}}" {% else %} value="80" {% endif%}>
                        </td>
                        <td><input type="text" size="10" tabindex="4" onkeypress="return isNumberKey(event)" required
                                required step="1"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="5" step="any" max="9999" oninput="validateNumber(this);" placeholder=""
                                id="dd" name="dd" {% if dd %} value="{{dd}}" {% else %} value="50" {% endif%}></td>

                    </tr>
                </table>
                </td>
                </tr>
                </table>
                <br>



                <div class=" center col mt-2 ">
                    <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>

                    </center>
                </div>

            </form> <br>

            <h3>Examples of Adding Fraction </h3> <br>
            <div class="container">
                <div class="row">

                    <div class="col">
                        <ul>
                            {% for a,b,c,d in list1 %}

                            <li>
                                <a href="/what-is-{{a}}-{{c}}-plus-{{b}}-{{d}}/">
                                    What is <span class="frac"><span>{{a}}</span><span class="symbol">/</span><span
                                            class="bottom">{{c}}</span></span> plus <span
                                        class="frac"><span>{{b}}</span><span class="symbol">/</span><span
                                            class="bottom">{{d}}</span></span>
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>

                    <div class="col">
                        <ul>
                            {% for a,b,c,d in list2 %}

                            <li>
                                <a href="/what-is-{{a}}-{{c}}-plus-{{b}}-{{d}}/">
                                    What is <span class="frac"><span>{{a}}</span><span class="symbol">/</span><span
                                            class="bottom">{{c}}</span></span> plus <span
                                        class="frac"><span>{{b}}</span><span class="symbol">/</span><span
                                            class="bottom">{{d}}</span></span>
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>


            </div>


        </div>
    </div>




    {% if id == 1 %}

    <div id="clear">

        <div class="card" id="magnetic-Change in temperature">
            <div class="card-header">
                <h2 class="h2"> What is <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                            class="bottom">{{cc}}</span></span> plus <span class="frac"><span>{{bb}}</span><span
                            class="symbol">/</span><span class="bottom">{{dd}}</span></span>?</h2>
            </div>


            <div class="card-body">
                <p><b>Adding Fractions Calculator.</b> - determines the addition of fractions <b><span
                            class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                                class="bottom">{{cc}}</span></span></b> and <b><span
                            class="frac"><span>{{bb}}</span><span class="symbol">/</span><span
                                class="bottom">{{dd}}</span></span></b>
                    i.e. <b><span
                        class="frac"><span>{{p}}</span><span class="symbol">/</span><span
                            class="bottom">{{q}}</span></span>.</b> along with step by step process.</p>

                <h5><b>Result:</b></h5>
                <p>The given fractions are <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                            class="bottom">{{cc}}</span></span> and <span class="frac"><span>{{bb}}</span><span
                            class="symbol">/</span><span class="bottom">{{dd}}</span></span></p><br>
                <p>Firstly the L.C.M should be done for the denominators of the two fractions <span
                        class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                            class="bottom">{{cc}}</span></span> and <span class="frac"><span>{{bb}}</span><span
                            class="symbol">/</span><span class="bottom">{{dd}}</span></span></p>
                <p>L.C.M of {{cc}} and {{dd}} is {{lc}}</p>

                <br>
                <p> <b> = </b> <span class="frac"><span>({{aa}} x {{f}}) + ({{bb}} x {{f1}})</span><span
                            class="symbol">/</span><span class="bottom">{{lc}}</span></span> </p>
                <p><b> = </b><span class="frac"><span>{{m}} + {{m1}}</span><span class="symbol">/</span><span
                            class="bottom">{{lc}}</span></span></p>
                <p><b> = </b><span
                    class="frac"><span>{{x}}</span><span class="symbol">/</span><span
                        class="bottom">{{lc}}</span></span></p> <br>

                <p>Result = <span
                    class="frac"><span>{{p}}</span><span class="symbol">/</span><span
                        class="bottom">{{q}}</span></span></p>




            </div>

        </div>
    </div>

</div>


</div>
{% endif %}




<script>

    {% if id == 1 %}

    var scrollDiv = document.getElementById("clear").offsetTop;
    console.log(scrollDiv)
    window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    {% endif %}

</script>

<script>
    function myFunction() {
        document.getElementById("clear").innerHTML = "";
        document.getElementsName("aa")[0].value = "";
        document.getElementsName("cc")[0].value = "";
    }
</script>
<br>

</div>
</div>
{% endblock %}