{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS -->

<title> When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed</title>
<meta name=description
    content=" Find the answer to When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed with step-by-step explanation in an easy way.">

<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS -->

<!-- FACEBOOK -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title"
    content=" When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed" />
<meta property="og:description"
    content=" Find the answer to When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed with step-by-step explanation in an easy way. " />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title"
    content=" When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed" />
<meta name="twitter:description"
    content=" Find the answer to When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed with step-by-step explanation in an easy way. " />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin -->
<meta property='og:title'
    content=" When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed" />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
    content=" Find the answer to When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed with step-by-step explanation in an easy way." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />

{% endblock %}

{% block content %}


{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('ddd').click();
    });
</script>
<style>

</style>


<div class="container">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed?
            </h1>
        </div>

        <p>In this calculator, we will understand the coordinates forming a shape and plot each point over the coordinate grid in order to identify which shape is formed by the coordinates. Know the simple steps to solve When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed using <a href="/coordinates-shape-calculator/">Coordinates Shape Calculator</a>.</p>

        <div class="card-body">
           
            <div class="card-body">
                <form action="/coordinates-shape-calculator/" method="POST" id="my_form">
                    {% csrf_token %}

                    <div>
                        <center>
                            <p> <b><span>x<sub>1</sub> </span></b> <input name="x1" type="number" class="form" id="x1"
                                    onkeypress="return isNumberKey(event)" required required step="any" 
                                    {% if x1 or x1 == 0 %} value="{{x1}}" {% else %} value="1" {% endif %} placeholder=""
                                    
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="6"> <span style="padding: 0px 0px;"><strong>y<sub>1</sub></strong> </span>

                                <input name="y1" type="number" class="form" id="y1"
                                    onkeypress="return isNumberKey(event)" required required step="any" 
                                    {% if y1 or y1 == 0 %} value="{{y1}}" {% else %} value="1" {% endif %} placeholder=""
                                    
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="6">
                            </p>


                            <p> <b><span>x<sub>2</sub> </span></b> <input name="x2" type="number" class="form" id="x2"
                                onkeypress="return isNumberKey(event)" required required step="any" 
                                {% if x2 or x2 == 0 %} value="{{x2}}" {% else %} value="4" {% endif %} placeholder=""
                                
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="6"> <span style="padding: 0px 0px;"><strong>y<sub>2</sub></strong> </span>

                            <input name="y2" type="number" class="form" id="y2"
                                onkeypress="return isNumberKey(event)" required required step="any" 
                                {% if y2 or y2 == 0 %} value="{{y2}}" {% else %} value="4" {% endif %} placeholder=""
                                
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="6">
                        </p>


                        <p> <b><span>x<sub>3</sub> </span></b> <input name="x3" type="number" class="form" id="x3"
                            onkeypress="return isNumberKey(event)" required required step="any" 
                            {% if x3 or x3 == 0 %} value="{{x3}}" {% else %} value="7" {% endif %} placeholder=""
                            
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="6"> <span style="padding: 0px 0px;"><strong>y<sub>3</sub></strong> </span>

                        <input name="y3" type="number" class="form" id="y3"
                            onkeypress="return isNumberKey(event)" required required step="any" 
                            {% if y3 or y3 == 0 %} value="{{y3}}" {% else %} value="1" {% endif %} placeholder=""
                            
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="6">
                    </p>



                    <p> <b><span>x<sub>4</sub> </span></b> <input name="x4" type="number" class="form" id="x4"
                        onkeypress="return isNumberKey(event)" required required step="any" 
                        {% if x4 or x4 == 0 %} value="{{x4}}" {% else %} value="4" {% endif %} placeholder=""
                        
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="6"> <span style="padding: 0px 0px;"><strong>y<sub>4</sub></strong> </span>

                    <input name="y4" type="number" class="form" id="y4"
                        onkeypress="return isNumberKey(event)" required required step="any" 
                        {% if y4 or y4 == 0 %} value="{{y4}}" {% else %} value="-2" {% endif %} placeholder=""
                        
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="6">
                </p>
                        </center>
                    </div>


                    <div class=" center col mt-2 ">
                        <center> <button type="submit" class="btn btn-primary" name="f1">Calculate</button></center>

                    </div>
                </form> <br>


                <h3>Examples:</h3> <br>
                <div class="container">
                    <div class="row">
    
                        <div class="col">
                            <ul>
                               
    
                                <li>
                                    <a href="/when-the-coordinates--3--3-4--3-4-2--3-2-are-joined-which-shape-is-formed/">
                                        A(-3, -3), B(4, -3), C(4, 2), and D(-3, 2) 
                                    </a>
                                </li>

                                <li>
                                    <a href="/when-the-coordinates-0-1-1-1-1-0-0-0-are-joined-which-shape-is-formed/">
                                        A(0, 1), B(1, 1), C(1, 0), and D(0, 0)  
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
    
                        <div class="col">
                            <ul>
                               
    
                                <li>
                                    <a href="/when-the-coordinates-4-6-7-7-10-10-7-9-are-joined-which-shape-is-formed/">
                                        A(4, 6), B(7, 7), C(10, 10), and D(7, 9)  
                                    </a>
                                </li>
                                <li>
                                    <a href="/when-the-coordinates-3--5--5--4-7-10-15-9-are-joined-which-shape-is-formed/">
                                        A(3, -5), B(-5, -4), C(7, 10), and D(15, 9)   
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
    
    
                </div>





            </div>

            
        


           
                    </div>

                    
    </div>



    <div class="card" id="clear">
        <div class="card-header">
            <h2>Detailed solution to find the shape formed by joining the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}})</h2>
        </div>
        <div class="card-body">

            

            {{detailsteps|safe}}
        <hr>
            <h3>FAQs on when the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed</h3>
        
            <strong>1. How do you find coordinates in geometry?
            </strong>
            <p>To find out the coordinates of a point in the coordinate system you do the opposite. Begin at the point and follow a vertical line either up or down to the x-axis. There is your x-coordinate. And then do the same but following a horizontal line to find the y-coordinate.
            </p>
            <strong>2. What is the coordinate of a point?</strong>
            <p>A pair of numbers that describe the exact position of a point on a cartesian plane by using the horizontal and vertical lines called the coordinates. Usually represented by (x, y) the x value and y value of the point on a graph.
            </p>
            <strong>3. When the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, which shape is formed?</strong>
            <p>If the coordinates ({{x1}}, {{y1}}), ({{x2}}, {{y2}}), ({{x3}}, {{y3}}), and ({{x4}}, {{y4}}) are joined, the shape formed is a {{shape}}.</p>
            
        </div>
    </div>



</div>

<script>

    

    var scrollDiv = document.getElementById("clear").offsetTop;
    console.log(scrollDiv)
    window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    

</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
{% endblock %}