{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS -->
<title> Find points on the curve y=\({{eq1}}\) where the tangent is horizontal </title>
<meta name=description
    content="Learn how to find points on the curve y=\({{eq1}}\) where the tangent is horizontal i.e ({{result1}}) and ({{result2}}) with the help of our step-by-step explanation. ">

<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS -->

<!-- FACEBOOK -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title"
    content=" Find points on the curve y=\({{eq1}}\) where the tangent is horizontal " />
<meta property="og:description"
    content=" Learn how to find points on the curve y=\({{eq1}}\) where the tangent is horizontal i.e ({{result1}}) and ({{result2}}) with the help of our step-by-step explanation.  " />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title"
    content=" Find points on the curve y=\({{eq1}}\) where the tangent is horizontal " />
<meta name="twitter:description"
    content=" Learn how to find points on the curve y=\({{eq1}}\) where the tangent is horizontal i.e ({{result1}}) and ({{result2}}) with the help of our step-by-step explanation.  " />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin -->
<meta property='og:title'
    content=" Find points on the curve y=\({{eq1}}\) where the tangent is horizontal " />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
    content=" Learn how to find points on the curve y=\({{eq1}}\) where the tangent is horizontal i.e ({{result1}}) and ({{result2}}) with the help of our step-by-step explanation. " />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />

{% endblock %}

{% block content %}


{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('ddd').click();
    });
</script>
<style>

</style>


<div class="container">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Find points on the curve y=\({{eq1}}\) where the tangent is horizontal</h1>
        </div>
       
        <P>Want to Find points on the curve y=\({{eq1}}\) where the tangent is horizontal? Well, no problem! We are here to teach you just that! Follow this simple but detailed guide by <a href="/horizontal-tangent-points-on-curve-calculator/">Horizontal Tangent Points On Curve Calculator</a> that will help you calculate the coordinates of these points.</P>

        <div class="card-body">
            {% for message in messages %}
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>
            {% endfor %}
            <div class="card-body">
                <form action="/horizontal-tangent-points-on-curve-calculator/" method="POST" id="my_form">
                    {% csrf_token %}

                    <div>
                        <center>
                            <p> <b><span>y=</span></b> <input name="equat" type="text" class="form" id="equat" required
                                    {% if equat or equat == 0 %} value="{{equat}}" {% else %} value="2*(x**3)+3*(x**2)-12*x+1" {% endif %} placeholder="Use 'x' as variable"
                                    >

                               
                            </p>
                           
                        </center>
                    </div>


                    <div class=" center col mt-2 ">
                        <center> <button type="submit" class="btn btn-primary" name="f1">Calculate</button></center>

                    </div>
                    
                </form> <br>
                <p style="color: red;">Use'**' for exponent and '*' for multiplication. Exp=> 2n or 2(n) must be written as 2*n and (n+1)(n) should be written as (n+1)*(n+2).</p>




                <h3>Examples:</h3> <br>
                <div class="container">
                    <div class="row">
    
                        <div class="col">
                            <ul>
                               
    
                                <li>
                                    <a href="/find-points-on-the-curve-16*(x**-1)-x**2-where-the-tangent-is-horizontal/">
                                        \({{exp1}}\)
                                    </a>
                                </li>

                              

                              
                               
                            </ul>
                        </div>
    
                        <div class="col">
                            <ul>
                               
    
                                <li>
                                    <a href="/find-points-on-the-curve-sin(x)-where-the-tangent-is-horizontal/">
                                        \({{exp2}}\) 
                                    </a>
                                </li>
                               
                               
                            </ul>
                        </div>
                    </div></div>
    

                
               



            </div>


            
        



           
                    </div>

                    
    </div>


    <div class="card" id="clear">
        <div class="card-header">
            <h3>Detailed Steps to Find points on the curve y= \({{eq1}}\) where the tangent is horizontal</h3>
        </div>
        <div class="card-body">
            {{detailsteps|safe}}
        </div>
    </div>



   



    <div class="card">
        <div class="card-header">
            <h3>FAQs on Points on the curve y=\({{eq1}}\)</h3>
        </div>
        <div class="card-body">
            <strong>1. What makes a horizontal tangent line?</strong>
            <p>A horizontal tangent line is a mathematical feature on the graph which locates a function's derivative as zero. The horizontal lines have a slope of 0.
            </p>
            <strong>2. How do you find the points on a curve where the tangent line is horizontal?</strong>
            <p>To find the points where the tangent line is horizontal, find the slope of the function and equate it to 0. The slope is derivative of the function is equal to zero.</p>
            <strong>3. What are the points on the curve y=\({{eq1}}\) where the tangent is horizontal?</strong>
            <p>The points on the curve y=\({{eq1}}\) where the tangent is horizontal are ({{result1}}) and ({{result2}}).
            </p>
        </div>
    </div>




</div>

<script>

    

    var scrollDiv = document.getElementById("clear").offsetTop;
    console.log(scrollDiv)
    window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    

</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
{% endblock %}