{% extends 'base/numbers_base3.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Meta Title, Description and Canonical URL Starts -->
<title> Find an equation for the nth term of the arithmetic sequence. {{aa}},.... -RoundingCalculator.Guru </title>
<meta name="description"
    content="How to Find an equation for the nth term of the arithmetic sequence. {{aa}}, …? Get calculation steps here." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS -->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title"
    content="Find an equation for the nth term of the arithmetic sequence. {{aa}},.... -RoundingCalculator.Guru " />
<meta property="og:description"
    content="How to Find an equation for the nth term of the arithmetic sequence. {{aa}}, …? Get calculation steps here." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title"
    content="Find an equation for the nth term of the arithmetic sequence. {{aa}},.... -RoundingCalculator.Guru " />
<meta name="twitter:description"
    content="How to Find an equation for the nth term of the arithmetic sequence. {{aa}}, …? Get calculation steps here. " />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle></tittle>
<meta property='og:title'
    content="Find an equation for the nth term of the arithmetic sequence. {{aa}},.... -RoundingCalculator.Guru " />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description'
    content="How to Find an equation for the nth term of the arithmetic sequence. {{aa}}, …? Get calculation steps here. " />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: left;
    }


    @media screen and (min-width: 768px) {


        .solveout2 {
            margin-left: 80px;
        }

        .box {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            width: 30%;
            font-size: 18px;
            line-height: 1.8;
            background-color: white;
            border-radius: 9px;
            margin-left: 0px;
            margin-right: 10px;
            margin-bottom: 20px;
            border-style: groove;

            margin-left: auto;
            margin-right: auto;
        }


    }


    @media screen and (max-width: 768px) {

        .solveout2 {
            margin-left: 55px;
        }

        .box {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            width: 90%;
            font-size: 18px;
            line-height: 1.8;
            background-color: white;
            border-radius: 9px;
            margin-left: 0px;
            margin-right: 10px;
            margin-bottom: 20px;
            border-style: groove;

            margin-left: auto;
            margin-right: auto;
        }

        .solveout {
            margin-left: 30px;
        }

    }

    .in1 {
        padding-left: 5px;
        width: 90px;
        height: 35px;
        text-align: left;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .in11 {
        padding-left: 5px;
        width: 90px;
        height: 50px;
        text-align: left;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .out {
        padding-left: 5px;
        width: 130px;
        height: 35px;
        text-align: left;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 5px;
    }

    .fraction {
        margin-left: auto;
        margin-right: auto;
    }

    .lines1 {
        height: 3px;
        border: none;
        color: #000;
        background-color: #000;
        font-size: 2px;
    }

    .solve {
        background-color: #3574e9;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 15px 0px 15px;
        -moz-border-radius: 10px;
        height: 35px;
        vertical-align: bottom;
        margin-bottom: 5px;
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>



<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Find an equation for the nth term of the arithmetic sequence. {{aa}}, …</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if messages %}
                <p id="message_container" class="alert alert-danger text-center" style="color:red">{{ messages }}</p>
                {% endif %}
            </ul>
            <p>An arithmetic sequence is one in which the difference between every two successive terms of a sequence is a constant. Here we are giving the solution to Find an equation for the nth term of the arithmetic sequence. {{aa}}, …n. By using <a href="/equation-of-arithmetic-sequence-calculator/">equation of arithmetic sequence calculator</a>we have to find an equation for the nth term of the arithmetic sequence. </p>
           
            <form action="" method="POST" id="my_form">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input name="aa" type="text" class="form-control" id="aa" onkeypress="return isNumberKey(event)"
                        required required class="aa" id="aa" {% if aa %} value="{{aa}}" {% else %} value="3,9,15,21,27" {% endif %} name='aa'>
                    <label for="floatingInput">Enter arithmetic sequence </label>
                </div>

                
                <div class=" center col mt-2 ">
                    <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                    </center>
                </div>
            </form> <br>

           <p>Examples of Sum of arithmetic sequence upto N terms </p> 
             <div class="container">
                <div class="row">    
                    <div class="col">
                        <ul>
                             <!-- {% for a in randList1 %} -->

                            <li>
                                <a href="/find-an-equation-for-the-nth-term-of-the-arithmetic-sequence-5,10,15,20,25/">
                                    Find an equation for the nth term of arithmetic sequence 5,10,15,20,25
                                </a>
                            </li>
                            <!-- {%endfor%} -->
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            {% for a in randList2 %}

                            <li>
                                <a href="/find-an-equation-for-the-nth-term-of-the-arithmetic-sequence-13,16,19,22,25/">
                                    Find an equation for the nth term of arithmetic sequence 13,16,19,22,25
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>




    {% if id == 1 %}
    
    <div id="clear">

        <div class="card" id="magnetic-Change in temperature">
            <div class="card-header">
                <h2 class="h2">Methods to Find an equation for the nth term of the arithmetic sequence. {{aa}}, …n.</h2>
            </div>
            <div class="card-body">
                <p>Given, the equation is {{aa}},........</p>
                <p>The first term, a = {{x1}}</p>
                <p>Common difference, d = {{x2}} - {{x1}}</p>
                <p>d = ({{x2}}) - ({{x1}})</p>
                <p>d = {{xy}}</p>
                <p>For the nth term in the above arithmetic sequence, we need to find an equation.</p>
                <p>The nth term of an arithmetic sequence is given by aₙ = a + (n - 1)d</p>
                <p>So, an = {{x1}} + (n - 1)({{xy}})</p>
                <p>a<sub>n</sub> = {{x1}} + {{xy}}n - {{xy}}</p>
                <p>a<sub>n</sub> = {{xy}}n - ({{xb}})</p>
                <p>As a result, a<sub>n</sub> = {{xy}}n - ({{xb}}) is the equation for the nth term in the sequence.</p>
                        <hr>
                
                <h3>FAQs on Finding the Equations for the nth term of the Arithmetic Sequence.</h3>
                
               
                    <p><strong>1. What is the sum of the first 15 terms in the sequence?</strong></p>
                    <p>All that persists is to use the formula sn=n2(2a+(n1)d)) to calculate the sequence's sum. Thereby, the sum of the first fifteen terms in the arithmetic sequence is  {{sum}}</p>
                    <p><strong>2. How do you find the nth term of an arithmetic sequence?</strong></p>
                    <p>To find the nth term of an arithmetic sequence follow the below steps:</p>
                    
                    <li style="font-weight: 400;" aria-level="1">The nth term of an arithmetic sequence is given by a = a + (n - 1)d. To identify the nth term, enter a = 2 and d = 3 into the formula.</p>
                    <li style="font-weight: 400;" aria-level="1">To consider the fifth term, plug n = 5 into the equation for the nth term.</p>
                    <p><strong>3. Find an equation for the nth term of the arithmetic sequence. {{aa}}, ...?</strong></p>
                    <p>Tthe equation for the nth term of the arithmetic sequence {{aa}}, ...... is {{xy}}n - ({{xb}}).</p>
                    <p><strong>4. What is the formula for the nth term of a sequence of three fives?</strong></p>
                    <p>The nth term of the arithmetic sequence {{aa}},...... has the equation {{xy}}n - ({{xb}}). Let's look for the nth term in the sequence. Explanation: The formula a = [a + (n - 1) d] can be used to find the equation for the nth term.</p>



            </div>

        </div>
    </div>

</div>


</div>
{% endif %}




<script>

    {% if id == 1 %}

    var scrollDiv = document.getElementById("clear").offsetTop;
    console.log(scrollDiv)
    window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    {% endif %}

</script>

<script>
    function myFunction() {
        document.getElementById("clear").innerHTML = "";
        document.getElementsName("aa")[0].value = "";
        document.getElementsName("cc")[0].value = "";
    }
</script>
<br>

</div>
</div>
{% endblock %}