{% extends 'base/numbers_base3.html' %}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Meta Title, Description and Canonical URL Starts -->
<title>Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) | Roundngcalculator.Guru</title>
<meta name="description"
    content=" Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) & avail the results as (1, 1, -√2) and (1, 1, √2) in no time with our easy calculator tool. " />
<link rel="canonical" href="{{request.build_absolute_uri}}">

<!-- Meta Title, Description and Canonical URL ENDS -->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title"
    content="Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) | Roundngcalculator.Guru" />
<meta property="og:description"
    content=" Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) & avail the results as (1, 1, -√2) and (1, 1, √2) in no time with our easy calculator tool." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title"
    content="Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) | Roundngcalculator.Guru" />
<meta name="twitter:description"
    content=" Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) & avail the results as (1, 1, -√2) and (1, 1, √2) in no time with our easy calculator tool." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) | Roundngcalculator.Guru " />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description'
    content=" Find the points on the cone z2 = x2 + y2 that are closest to the point ({{xval}},{{yval}},{{zval}}) & avail the results as (1, 1, -√2) and (1, 1, √2) in no time with our easy calculator tool." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}


<style>
    
    @media screen and (min-width: 768px) {


.solveout2 {
             margin-left: 80px;
      }

.box {
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 10px;
             width: 30%;
             font-size: 18px;
             line-height: 1.8;
             background-color: white;
             border-radius: 9px;
             margin-left: 0px;
             margin-right: 10px;
             margin-bottom: 20px;
             border-style: groove;

             margin-left: auto;
             margin-right: auto;
      }


}


@media screen and (max-width: 768px) {

.solveout2 {
             margin-left: 55px;
      }

  .box {
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 10px;
             width: 90%;
             font-size: 18px;
             line-height: 1.8;
             background-color: white;
             border-radius: 9px;
             margin-left: 0px;
             margin-right: 10px;
             margin-bottom: 20px;
             border-style: groove;

             margin-left: auto;
             margin-right: auto;
      }
      .solveout {
             margin-left: 30px;
      }

}

.in1 {
      padding-left: 5px;
      width: 90px;
      height: 35px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.in11 {
      padding-left: 5px;
      width: 90px;
      height: 50px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.out {
      padding-left: 5px;
      width: 130px;
      height: 35px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin-bottom: 5px;
}

.fraction {
      margin-left: auto;
      margin-right: auto;
}

.lines1 {
      height: 3px;
      border: none;
      color: #000;
      background-color: #000;
      font-size: 2px;
}

.solve {
      background-color: #3574e9;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      padding: 0px 15px 0px 15px;
      -moz-border-radius: 10px;
      height: 35px;
      vertical-align: bottom;
      margin-bottom: 5px;
}
.frac {
display: inline-block;
position: relative;
vertical-align: middle;
letter-spacing: 0.001em; 
text-align: center;
}
.frac > span {
display: block;
padding: 0.1em;
}
.frac span.bottom {
border-top: thin solid black;
}
.frac span.symbol {
display: none;
} 


</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Find the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}})</h1>
        </div>
        <div class="card-body">
            <p><span style="font-weight: 400;">Get to know how to find the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}}), by reading this article. 
                We will show you the detailed procedure on how to calculate the values, so stick around to get all your doubts cleared.You can cross check your answers with our free <a href = "/point-on-the-cone-that-is-closest-to-the-point/">Point closest on Cone Calculator.</a> 
            </span>
            </p>
            <div class="card-body">
                <form action="" method="POST" id="my_form">
                    {% csrf_token %}
                    <div>
                        <label>Cone:</label>
                        <span><strong>z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup></strong></span>
                    </div>
                    
                    <div style="text-align:center">
                    <div class="form-group">
                        <span><strong>x = </strong></span>
                        <input name="xval" type="number" class="form" id="value" onkeypress="return isNumberKey(event)"
                        required required step="1" min="1" {% if xval %} value="{{xval}}" {% else %} value="2" {% endif %} placeholder="" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="4" style="width: 15%;">
                    </div>
                    <div class="form-group">
                        <span><strong>y = </strong></span><input name="yval" type="number" class="form" id="value" onkeypress="return isNumberKey(event)"
                        required required step="1" min="1" {% if yval %} value="{{yval}}" {% else %} value="2" {% endif %} placeholder="" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="4" style="width: 15%;">
                    </div>
                    <div class="form-group">
                        <span><strong>z = </strong></span><input name="zval" type="number" style="width: 15%;" value="0" readonly> 
                    </div>
                    


                    <div class=" center col mt-2 ">
                        <button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                        
                    </div>
                </form> <br>
                </div>
             
            <p>Examples of Find the points on the cone that are closest to the origin</p> 
            <div class="container">
                <div class="row">

                    <div class="col">
                        <ul>
                            {% for a in randList1 %}
                            <li>
                                <a href="/find-the-points-on-the-cone-z2-x2-y2-that-are-closest-to-the-point-{{a.0}}-{{a.1}}-{{a.2}}/">
                                     point ({{a.0}},{{a.1}},{{a.2}}).
                                </a>
                            </li>

                            {%endfor%}
                        </ul>
                    </div>

                    <div class="col">
                        <ul>
                            {% for a in randList2 %}

                            <li>
                                <a href="/find-the-points-on-the-cone-z2-x2-y2-that-are-closest-to-the-point-{{a.0}}-{{a.1}}-{{a.2}}/">
                                     point ({{a.0}},{{a.1}},{{a.2}}).
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>


            </div>


        </div>
    </div>
    </div>

    {% if id == 1 %}

    <div id="clear">

        <div class="card" id="magnetic-Change in temperature">
            <div class="card-header">
                <h2 class="h2">Detailed Steps to find the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}})?</h2>
            </div>


            <div class="card-body">
                <p><strong>Solution:</strong></p>
                <p>Given that, </p>
                <p><span style="font-weight: 400;">z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup></p>
                <p><span style="font-weight: 400;">To begin, we must assign the variables. We can assume that the point on the cone that we have to find is B(x, y, z). Now, we must find the distance between this point B and ({{xval}},{{yval}},{{zval}}). </span></p>

                <p><span style="font-weight: 400;">d = √[(x - {{xval}})<sup>2</sup> + (y - {{yval}})<sup>2</sup> + (z - {{zval}})<sup>2</sup>]</span></p>
                <p><span style="font-weight: 400;">d = √[(x - {{xval}})<sup>2</sup> + (y - {{yval}})<sup>2</sup> + z<sup>2</sup>]</span></p>
                <p>Since z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup>,</p>
                <p><span style="font-weight: 400;">d = √[(x - {{xval}})<sup>2</sup> + (y - {{yval}})<sup>2</sup> + x<sup>2</sup> + y<sup>2</sup>]</span></p>
                <p>Now, square both sides.</p>
                <p><span style="font-weight: 400;">d<sup>2</sup> =[(x - {{xval}})<sup>2</sup> + (y - {{yval}})<sup>2</sup> + x<sup>2</sup> + y<sup>2</sup>]</span></p>
                <p>Whenever we square a number, we will always get a positive result, so x^2 is an increasing function.</p>
                <p>The next step is to minimize d, so it will be just like minimizing f(x, y) = d<sup>2</sup>. </p>
                <p>f' = 0 </p>
                <p>Now differentiate the function with respect to x.</p>
                <p><span class="frac"><span>df</span><span class="symbol">/</span><span
                    class="bottom">dx</span></span> = 2(x - {{xval}}) + 2x = 0</p>
                <p>Then, solve for x </p>
                <p>2x - {{txval}} + 2x = 0</p>
                <p>4x = {{txval}}</p>
                <p>x = {{txval}}/4</p>
                <p>x = {{x}}</p>

                <p>Now differentiate the function with respect to y.</p>
                <p><span class="frac"><span>df</span><span class="symbol">/</span><span
                    class="bottom">dx</span></span> = 2(y - {{yval}}) + 2y = 0</p>
                <p>Then, solve for y </p>
                <p>2y - {{tyval}} + 2y = 0</p>
                <p>4y = {{tyval}}</p>
                <p>y = {{tyval}}/4</p>
                <p>y = {{y}}</p>


                <p>After finding out the values of x and y, we can easily get the value of z, by using the following equation.</p>
                <p>z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup></p>
                <p>z<sup>2</sup> = {{x}}<sup>2</sup> + {{y}}<sup>2</sup></p>
                <p>z = ±√({{x}}<sup>2</sup> + {{y}}<sup>2</sup>)</p>
                <p>z = {{z}} </p>
                <p>Therefore, the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}}) are <strong>({{x}}, {{y}}, -√{{zv}}) and ({{x}}, {{y}}, √{{zv}}).</strong> </p>
                <hr>
                <h3><strong>FAQs on How to Calculate the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}})?</strong></h3>
            
            <p><strong>Q1. </strong><strong>What are the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}})?</strong></p>
            <p><strong>Ans:</strong><span style="font-weight: 400;">The coordinates for the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> are ({{x}}, {{y}}, -√{{z}}) and ({{x}}, {{y}}, √{{z}}). </span>
            
            <p><strong>Q2. </strong><strong>How to find the points on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> that are closest to the point ({{xval}},{{yval}},{{zval}})?</strong></p>
            <p><strong>Ans: </strong><span style="font-weight: 400;">First, find the distance between the point and ({{xval}},{{yval}},{{zval}}). Then, differentiate that equation with respect to x, to find the value of x. Then, differentiate it with respect to y, to find the value of y. Then, use the equation of the cone to find z. Now, put them together to get the coordinates of the points.</span></p>
            <p><strong>Q3. </strong><strong>What is the equation used to find distance between the point on the cone z<sup>2</sup> = x<sup>2</sup> + y<sup>2</sup> and ({{xval}},{{yval}},{{zval}})?</strong></p>
            <p><strong>Ans:</strong><span>The distance is determined by the equation: d = √[(x - {{xval}})<sup>2</sup> + (y - {{yval}})<sup>2</sup> + x<sup>2</sup> + y<sup>2</sup>]. </span>
            </p>
            <p><strong>Q4. Is x<sup>2</sup> an increasing function?</strong></p>
            <p><strong>Ans: </strong><span style="font-weight: 400;">Yes, x<sup>2</sup> is always an increasing function because the answer is always a positive number when you square any number.</span></p>
            </div>

                </div>
            </div>

        </div>


    </div>
    {% endif %}




    <script>

        {% if id == 1 %}

        var scrollDiv = document.getElementById("clear").offsetTop;
        console.log(scrollDiv)
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

        {% endif %}

    </script>

    <script>
        function myFunction() {
            document.getElementById("clear").innerHTML = "";
            document.getElementsName("aa")[0].value = "";
            document.getElementsName("cc")[0].value = "";
        }
    </script>
    <br>

</div>
</div>
{% endblock %}