{% extends 'base/numbers_base3.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Meta Title, Description and Canonical URL Starts -->
<title>Find the points on the surface y<sup>2</sup> = 16 + xz that are closest to the origin | lcmgcf.com</title>
<meta name="description"
    content=" Click here to Find the points on the surface y<sup>2</sup> = 16 + xz that are closest to the origin i.e (0, ±4, 0). Use the Lagrange multiplier method to get partial derivatives. " />
<link rel="canonical" href="{{request.build_absolute_uri}}">

<!-- Meta Title, Description and Canonical URL ENDS -->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title"
    content="Find the points on the surface that are closest to the origin calculator | Free Calculator to find the points on the surface that are closest to the origin " />
<meta property="og:description"
    content=" Click here to Find the points on the surface y<sup>2</sup> = 16 + xz that are closest to the origin i.e (0, ±4, 0). Use the Lagrange multiplier method to get partial derivatives." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title"
    content="Find the points on the surface that are closest to the origin calculator | Free Calculator to find the points on the surface that are closest to the origin" />
<meta name="twitter:description"
    content=" Click here to Find the points on the surface y<sup>2</sup> = 16 + xz that are closest to the origin i.e (0, ±4, 0). Use the Lagrange multiplier method to get partial derivatives.  " />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle></tittle>
<meta property='og:title' content="Find the points on the surface that are closest to the origin calculator | Free Calculator to find the points on the surface that are closest to the origin " />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description'
    content=" Click here to Find the points on the surface y<sup>2</sup> = 16 + xz that are closest to the origin i.e (0, ±4, 0). Use the Lagrange multiplier method to get partial derivatives.  ." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}


<style>
    
    @media screen and (min-width: 768px) {


.solveout2 {
             margin-left: 80px;
      }

.box {
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 10px;
             width: 30%;
             font-size: 18px;
             line-height: 1.8;
             background-color: white;
             border-radius: 9px;
             margin-left: 0px;
             margin-right: 10px;
             margin-bottom: 20px;
             border-style: groove;

             margin-left: auto;
             margin-right: auto;
      }


}


@media screen and (max-width: 768px) {

.solveout2 {
             margin-left: 55px;
      }

  .box {
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 10px;
             width: 90%;
             font-size: 18px;
             line-height: 1.8;
             background-color: white;
             border-radius: 9px;
             margin-left: 0px;
             margin-right: 10px;
             margin-bottom: 20px;
             border-style: groove;

             margin-left: auto;
             margin-right: auto;
      }
      .solveout {
             margin-left: 30px;
      }

}

.in1 {
      padding-left: 5px;
      width: 90px;
      height: 35px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.in11 {
      padding-left: 5px;
      width: 90px;
      height: 50px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.out {
      padding-left: 5px;
      width: 130px;
      height: 35px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin-bottom: 5px;
}

.fraction {
      margin-left: auto;
      margin-right: auto;
}

.lines1 {
      height: 3px;
      border: none;
      color: #000;
      background-color: #000;
      font-size: 2px;
}

.solve {
      background-color: #3574e9;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      padding: 0px 15px 0px 15px;
      -moz-border-radius: 10px;
      height: 35px;
      vertical-align: bottom;
      margin-bottom: 5px;
}
.frac {
display: inline-block;
position: relative;
vertical-align: middle;
letter-spacing: 0.001em;
text-align: center;
}
.frac > span {
display: block;
padding: 0.1em;
}
.frac span.bottom {
border-top: thin solid black;
}
.frac span.symbol {
display: none;
} 


</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Find the points on the surface y<sup>2</sup> = {{value}} + xz that are closest to the origin</h1>
        </div>
        <div class="card-body">
            <p><span style="font-weight: 400;">Learn how to Find the points on the surface y<sup>2</sup> = {{value}} + xz that are closest to the origin with the help of our detailed solution below. 
                You will understand how to use the Lagrange multipliers to find the closest points easily. You can cross check your answers with our free <a href = "/point-on-the-surface-that-is-closest-to-the-point/">Point on Surface Calculator</a></span>
            </p>
            <div class="card-body">
                <form action="" method="POST" id="my_form">
                    {% csrf_token %}
                    <div>
                        <span style="padding: 0px 10px;"><strong>y<sup>2</sup> =</strong></span>
                        <input name="value" type="number" class="form" id="value" onkeypress="return isNumberKey(event)"
                            required required step="1" min="1" {% if value %} value="{{value}}" {% else %} value="{{value}}" {% endif %} placeholder="" 
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="4">
                            <input size="2" style="text-align: center;" disabled readonly value="+ xz">
                    </div>


                    <div class=" center col mt-2 ">
                        <button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                        
                    </div>
                </form> <br>
            
            <h3>Examples of Find the points on the surface that are closest to the origin</h3> <br>
            <div class="container">
                <div class="row">

                    <div class="col">
                        <ul>
                            {% for a in randList1 %}

                            <li>
                                <a href="/find-the-points-on-the-surface-y2-{{a}}-xz-that-are-closest-to-the-origin/">
                                    Find the points on the surface y<sup>2</sup>={{a}}+xz that are closest to the origin
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>

                    <div class="col">
                        <ul>
                            {% for a in randList2 %}

                            <li>
                                <a href="/find-the-points-on-the-surface-y2-{{a}}-xz-that-are-closest-to-the-origin/">
                                    Find the points on the surface y<sup>2</sup>={{a}}+xz that are closest to the origin
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>


            </div>


        </div>
    </div>
    </div>

    {% if id == 1 %}

    <div id="clear">

        <div class="card" id="magnetic-Change in temperature">
            <div class="card-header">
                <h2 class="h2">Detailed Steps to Find the points on the surface y<sup>2</sup> = {{value}} + xz that are closest to the origin?</h2>
            </div>


            <div class="card-body">
                <p><strong>Find the points on the surface y<sup>2</sup> = {{value}} + xz that are closest to the origin?</strong></p>
                <p><strong>Solution:</strong></p>
                <p><strong>Given that, </strong></p>
                <p><span style="font-weight: 400;">y<sup>2</sup> = {{value}} + xz</span></p>
                <p><span style="font-weight: 400;">To start, we must recall the equation that is used to find the distance between the origin of a surface and an arbitrary point on it. 
                    d(x, y, z) = √(x² + y² + z²)
                    </span></p>

                <p><span style="font-weight: 400;">Now, we must use the Lagrange multipliers to get the next equation, which we will have to find the partial derivatives for. 
                    L(x, y, z, λ) = x² + y² + z² + λ(y² - {{value}} - xz)
                </span></p>
                <p>Lx = 2x - λz</p>
                <p>Ly = 2y + 2yλ</p>
                <p>Lz = 2z - λx</p>
                <p>Lλ = y² - {{value}} - xz</p>
                <p>After this step, we have to find the critical points. To do this, we have to equate the partial derivatives to zero. </p>
                <p>Ly = 0</p>
                <p>2y + 2yλ = 0</p>
                <p>So, λ = -1 and y = 0. </p>
                <p>Now that we found the values of these two variables, we can plug them into the other partial derivatives. </p>
                <p>Lx = 0 </p>
                <p>2x - λz = 0</p>
                <p>2x + z = 0 —-----> Equation A</p>
                <p>Ly = 0</p>
                <p>2z - λx = 0</p>
                <p>2z + x = 0 —-----> Equation B</p>
                <p>Now, solve the simultaneous equations, A and B, to find the values of x and z. 
                    You will find that x = 0, and z = 0. </p>
                <p>We now have the values of all the variables, except for y. So, use the equation of the surface and substitute the variables for the calculated values. </p>
                <p>y<sup>2</sup> = {{value}} + xz</p>
                <p>y<sup>2</sup> = {{value}} + 0</p>
                <p>y = ±{{y}}</p>
                <p>Finally, we can determine the coordinates of the points on the surface y<sup>2</sup> = {{val}} + xz that are closest to the origin. They are 
                    <strong>(0, ±{{y}}, 0)</strong>. </p>
                
                <h3><strong>FAQs on Find the points on the surface y<sup>2</sup> = {{value}} + xz that are closest to the origin</strong></h3>
            
            <p><strong>Q1. </strong><strong>What are the points on the surface y<sup>2</sup> = {{val}} + xz that are closest to the origin?</strong></p>
            <p><strong>Ans:</strong><span style="font-weight: 400;"> The coordinates of the points are (0, ±{{y}}, 0).</span>
            
            <p><strong>Q2. </strong><strong>What is the distance between the origin of a surface and an arbitrary point on it?</strong></p>
            <p><strong>Ans: </strong><span style="font-weight: 400;">The distance is determined by the equation: d(x, y, z) = √(x^2 + y^2 + z^2).</span></p>
            <p><strong>Q3. </strong><strong>How to find the points on the surface y<sup>2</sup> = {{val}} + xz that are closest to the origin?</strong></p>
            <p><strong>Ans:</strong>First, get the equation for finding the distance between a point and the origin of a surface. Then, minimize it to the surface's equation. After this, use the Lagrange multipliers to find the partial derivatives with respect to each variable. Next, equate each partial derivate to 0. Calculate the critical points, and find the values of all the variables, then use them to find y from the surface's equation. 
                Once you do, you will get the points. 
            </p>
            <p><strong>Q4. What is a Lagrange multiplier?</strong></p>
            <p><strong>Ans: </strong><span style="font-weight: 400;">The Lagrange multiplier method will help you calculate the minima or maxima of a function that has many variables. For example, λ is a Lagrange multiplier.</span></p>
            </div>

                </div>
            </div>

        </div>


    </div>
    {% endif %}




    <script>

        {% if id == 1 %}

        var scrollDiv = document.getElementById("clear").offsetTop;
        console.log(scrollDiv)
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

        {% endif %}

    </script>

    <script>
        function myFunction() {
            document.getElementById("clear").innerHTML = "";
            document.getElementsName("aa")[0].value = "";
            document.getElementsName("cc")[0].value = "";
        }
    </script>
    <br>

</div>
</div>
{% endblock %}