{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
  type="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS -->
<title>Polar Equation of Curve</title>
<meta name=description 
    content="Polar Equation of Curve">
    
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS -->

<!-- FACEBOOK -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Polar Equation of Curve" />
<meta property="og:description"
  content="Polar Equation of Curve" />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Polar Equation of Curve" />
<meta name="twitter:description"
  content="Polar Equation of Curve" />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin -->
<meta property='og:title' content="Polar Equation of Curve" />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
  content="Polar Equation of Curve" />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
{% endblock %}

{% block content %} 
<div class="container">
  <div class="card">
    <div class="card-header">
     
      <h1 class="h1">Polar Equation of Curve - Free Online Tool</h1>
      <ul class="messages">
        {% if messages %}
        <p id="message_container" class="alert alert-danger text-center" style="color:red"> {% for message in messages %} {{message}} {% endfor %}</p>
        {% endif %}
      </ul>
    </div>
    <div class="card-body">
        <p>What is a Polar Equation of Curve Calculator? Polar Equation of Curve Online Calculator which is a handy tool that helps students to find the polar equation of a curve represented by cartesian equation. It asks to enter the equation in cartesian form in the input boxes and provide the desired results.</p>
        <form method='POST' action='/polar-equation-of-curve/'>
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" value="2x+3y=6" id="numa" placeholder="2x+3y=6" name='f' required>
          </div>
        
        <center> <button type="submit" class="btn btn-primary">Calculate</button> </center>
        </form>
        
    </div>
  </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
  crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  -->
{% endblock %}