{% extends 'base/numbers_base3.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Meta Title, Description and Canonical URL Starts -->
<title> How to find Square Root of {{aa}}/{{bb}}?     -RoundingCalculator.Guru </title>
<meta name="description"
    content=" Learn to find out the Square Root of {{aa}}/{{bb}} using the free Square Root of a Fraction Calculator. Check the answer for √({{aa}}/{{bb}}) i.e {{ans}}. " />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS -->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title"
    content="SuSquare Root of a Fraction Calculator | How to Find a √fraction? - RoundingCalculator.Guru " />
<meta property="og:description"
    content=" Learn to find out the Square Root of {{aa}}/{{bb}} using the free Square Root of a Fraction Calculator. Check the answer for √({{aa}}/{{bb}}) i.e {{ans}}." />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title"
    content="SuSquare Root of a Fraction Calculator | How to Find a √fraction? - RoundingCalculator.Guru " />
<meta name="twitter:description"
    content=" Learn to find out the Square Root of {{aa}}/{{bb}} using the free Square Root of a Fraction Calculator. Check the answer for √({{aa}}/{{bb}}) i.e {{ans}}.  " />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle></tittle>
<meta property='og:title' content="SuSquare Root of a Fraction Calculator | How to Find a √fraction? - RoundingCalculator.Guru " />
<meta property='og:image' content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description'
    content=" Learn to find out the Square Root of {{aa}}/{{bb}} using the free Square Root of a Fraction Calculator. Check the answer for √({{aa}}/{{bb}}) i.e {{ans}}.  ." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}


<style>
   


   @media screen and (min-width: 768px) {


.solveout2 {
    margin-left: 80px;
}

.box {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 30%;
    font-size: 18px;
    line-height: 1.8;
    background-color: white;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
}


}


@media screen and (max-width: 768px) {

.solveout2 {
    margin-left: 55px;
}

.box {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 90%;
    font-size: 18px;
    line-height: 1.8;
    background-color: white;
    border-radius: 9px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: groove;

    margin-left: auto;
    margin-right: auto;
}

.solveout {
    margin-left: 30px;
}

}

.in1 {
padding-left: 5px;
width: 90px;
height: 35px;
text-align: left;
font-size: 16px;
outline: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.in11 {
padding-left: 5px;
width: 90px;
height: 50px;
text-align: left;
font-size: 16px;
outline: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.out {
padding-left: 5px;
width: 130px;
height: 35px;
text-align: left;
font-size: 16px;
outline: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
margin-bottom: 5px;
}

.fraction {
margin-left: auto;
margin-right: auto;
}

.lines1 {
height: 3px;
border: none;
color: #000;
background-color: #000;
font-size: 2px;
}

.solve {
background-color: #3574e9;
color: #fff;
font-weight: bold;
font-size: 16px;
padding: 0px 15px 0px 15px;
-moz-border-radius: 10px;
height: 35px;
vertical-align: bottom;
margin-bottom: 5px;
}

.frac {
display: inline-block;
position: relative;
vertical-align: middle;
letter-spacing: 0.001em;
text-align: center;
}

.frac>span {
display: block;
padding: 0.1em;
}

.frac span.bottom {
border-top: thin solid black;
}

.frac span.symbol {
display: none;
}
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Square Root of <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                class="bottom">{{bb}}</span></span> ?</h1>

        </div>
        <p>The square root of <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
            class="bottom">{{bb}}</span></span>s is {{ans}}. To get the answer to the square root of a given fraction you can easily use the <a href="/square-root-of-a-fraction-calculator/">Square Root of a Fraction Calculator</a> and get the result in no time. 
            Simultaneously you can use the manual calculations as well to get the desired result. Thus, you may get the detailed solution for the √({{aa}}/{{bb}}) here itself. Have a look!

        </p>

        <div class="card-body">


            <form action="" method="POST" id="my_form">
                {% csrf_token %}
                
                <div>
                    <center>
                        <p> <b><span>√ </span></b> <input name="aa" type="number" class="form" id="aa"
                                onkeypress="return isNumberKey(event)" required required step="1" min="1" class="aa"
                                id="aa" {% if aa%} value="{{aa}}" {% else %} value="55" {% endif %} placeholder=""
                                name='aa'
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="6"> <span style="padding: 0px 0px;"><strong>/</strong> </span>

                            <input name="bb" type="number" class="form" id="bb"
                                onkeypress="return isNumberKey(event)" required required step="1" min="1" class="bb"
                                id="bb" {% if bb%} value="{{bb}}" {% else %} value="96" {% endif %} placeholder=""
                                name='bb'
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="6">
                        </p>
                    </center>
                </div>


                <div class=" center col mt-2 ">
            <center>   <button type="submit" class="btn btn-primary" name="f1">Calculate</button></center> 
                    
                </div>
            </form> <br>

            <h3>Examples of Square Root of a Fraction </h3> <br>
            <div class="container">
                <div class="row">

                    <div class="col">
                        <ul>
                            {% for a,b in dict1 %}

                            <li>
                                <a href="/square-root-of-{{a}}-by-{{b}}/">
                                    what is the square root of  <span class="frac"><span>{{a}}</span><span class="symbol">/</span><span
                                    class="bottom">{{b}}</span></span> 
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>

                    <div class="col">
                        <ul>
                            {% for a,b in dict2 %}

                            <li>
                                <a href="/square-root-of-{{a}}-by-{{b}}/">
                                    what is the square root of <span class="frac"><span>{{a}}</span><span class="symbol">/</span><span
                                    class="bottom">{{b}}</span></span>   
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>


            </div>


        </div>
    </div>




    {% if id == 1 %}

    <div id="clear">

        <div class="card" id="magnetic-Change in temperature">
            <div class="card-header">
                <h2 class="h2">Detailed Solution for Square Root of <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                    class="bottom">{{bb}}</span></span> </h2>
            </div>


            <div class="card-body">
                <p>Given Fractions : <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                    class="bottom">{{bb}}</span></span> </p>
                <p>To find the square root of √({{aa}}/{{bb}}) you can refer to the below formula: </p>
                <p>√fraction  = <span class="frac"><span>√numerator </span><span class="symbol">/</span><span
                    class="bottom"> √denominator</span></span> </p>
                <p> √({{aa}}/{{bb}})= <span class="frac"><span>√{{aa}}</span><span class="symbol">/</span><span
                    class="bottom">√{{bb}}</span></span> </p>
                <p>After finding the square root of {{aa}} and {{bb}} we get,</p>
                <p>=> √{{aa}} = {{sr1}}</p>
                <p>=> √{{bb}} = {{sr2}}</p>
                <p>Then we have,</p>
                <p>=>   √({{aa}}/{{bb}}) = <span class="frac"><span>{{sr1}}</span><span class="symbol">/</span><span
                    class="bottom">{{sr2}}</span></span>  </p>
                <p>=>   √({{aa}}/{{bb}}) = √{{ab}} </p>
                <p>=>   √({{aa}}/{{bb}}) = {{ans}} </p>
                
                <hr>
                <h3><span style="font-weight: 400;">Frequently Asked Questions on √({{aa}}/{{bb}})</span></h3>
                <p>1. <strong> What is the square root of <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                    class="bottom">{{bb}}</span></span> ?</strong></p>
                <p><span style="font-weight: 400;">√({{aa}}/{{bb}}) is {{ans}}.</span></p>
                <p>2. <strong> How do we find the √({{aa}}/{{bb}})?</strong></p>
                <p><span style="font-weight: 400;">We will find the square root of fraction <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                    class="bottom">{{bb}}</span></span>  by dividing the square root of the numerator and denominator separately and then dividing the result.</span></p>
                <p>3. <strong> How do we write the square root of <span class="frac"><span>{{aa}}</span><span class="symbol">/</span><span
                    class="bottom">{{bb}}</span></span> ?</strong></p>
                <p><span style="font-weight: 400;">The square root can also be written as √({{aa}}/{{bb}}) or √{{aa}}√{{bb}}. </span></p>
             
                
            </div>

                </div>
            </div>

        </div>


    </div>
    {% endif %}




    <script>

        {% if id == 1 %}

        var scrollDiv = document.getElementById("clear").offsetTop;
        console.log(scrollDiv)
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

        {% endif %}

    </script>

    <script>
        function myFunction() {
            document.getElementById("clear").innerHTML = "";
            document.getElementsName("aa")[0].value = "";
            document.getElementsName("cc")[0].value = "";
        }
    </script>
    <br>

</div>
</div>
{% endblock %}