{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
    type="icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS -->
<title>What Percent Calculator | Find X Percent of Y - RoundingCalculator.Guru
</title>
<meta name=description
    content="What Percent Calculator calculates X is what percent Y easily. The tool takes X, Y numbers as inputs and produces the output. Get the solution for what percent of the number.">

<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS -->

<!-- FACEBOOK -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="What Percent  Calculator Online - RoundingCalculator.Guru" />
<meta property="og:description"
    content="What Percent Calculator calculates X is what percent Y easily. The tool takes X, Y numbers as inputs and produces the output. Get the solution for what percent of the number. " />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="What Percent  Calculator Online - RoundingCalculator.Guru" />
<meta name="twitter:description"
    content="What Percent Calculator calculates X is what percent Y easily. The tool takes X, Y numbers as inputs and produces the output. Get the solution for what percent of the number. " />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin -->
<meta property='og:title' content="What Percent  Calculator Online - RoundingCalculator.Guru" />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
    content="What Percent Calculator calculates X is what percent Y easily. The tool takes X, Y numbers as inputs and produces the output. Get the solution for what percent of the number." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />

{% endblock %}

{% block content %}


{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('ddd').click();
    });
</script>
<style>
 
 @media screen and (min-width: 768px) {


.solveout2 {
             margin-left: 80px;
      }

.box {
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 10px;
             width: 30%;
             font-size: 18px;
             line-height: 1.8;
             background-color: white;
             border-radius: 9px;
             margin-left: 0px;
             margin-right: 10px;
             margin-bottom: 20px;
             border-style: groove;

             margin-left: auto;
             margin-right: auto;
      }


}


@media screen and (max-width: 768px) {

.solveout2 {
             margin-left: 55px;
      }

  .box {
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 10px;
             width: 90%;
             font-size: 18px;
             line-height: 1.8;
             background-color: white;
             border-radius: 9px;
             margin-left: 0px;
             margin-right: 10px;
             margin-bottom: 20px;
             border-style: groove;

             margin-left: auto;
             margin-right: auto;
      }
      .solveout {
             margin-left: 30px;
      }

}

.in1 {
      padding-left: 5px;
      width: 90px;
      height: 35px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.in11 {
      padding-left: 5px;
      width: 90px;
      height: 50px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.out {
      padding-left: 5px;
      width: 130px;
      height: 35px;
      text-align: left;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin-bottom: 5px;
}

.fraction {
      margin-left: auto;
      margin-right: auto;
}

.lines1 {
      height: 3px;
      border: none;
      color: #000;
      background-color: #000;
      font-size: 2px;
}

.solve {
      background-color: #3574e9;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      padding: 0px 15px 0px 15px;
      -moz-border-radius: 10px;
      height: 35px;
      vertical-align: bottom;
      margin-bottom: 5px;
}
.frac {
display: inline-block;
position: relative;
vertical-align: middle;
letter-spacing: 0.001em;
text-align: center;
}
.frac > span {
display: block;
padding: 0.1em;
}
.frac span.bottom {
border-top: thin solid black;
}
.frac span.symbol {
display: none;
} 


</style>


<div class="container">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">What Percent Calculator Online</h1>
        </div>
        <div class="card-body">
            <p><span style="font-weight: 400;">What Percent Calculator is a free online tool that does your work simple
                    and finds X is what of Y if X and Y are numbers. All you need to do is enter 2 numbers and press the
                    calculate button to know the result.</span></p>
            <div class="card-body">
                <form action="" method="POST" id="my_form">
                    {% csrf_token %}


                    <div>
                        <input name="aa" type="number" class="form-control" id="aa"
                            onkeypress="return isNumberKey(event)" required required step="1" min="1" class="aa" id="aa"
                            {% if aa%} value="{{aa}}" {% else %} value="36" {% endif %} placeholder="" name='aa'
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="6">

                        <p>Is what percent of</p>

                        <input name="bb" type="number" class="form-control" id="bb"
                            onkeypress="return isNumberKey(event)" required required step="1" min="1" class="bb" id="bb"
                            {% if bb%} value="{{bb}}" {% else %} value="549" {% endif %} placeholder="" name='bb'
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="12">
                    </div>



                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                        </center>
                    </div>
                </form> <br>



            </div>


            <p><strong>What Percent Calculator:</strong><span style="font-weight: 400;"> If you are thinking about
                    finding a number is what percent of another number, the tool provided here is helpful. Here we have
                    mentioned a step-by-step process and solved examples on how to find X is what percent of Y easily.
                    Just read the entire article know the number percent of another quantity.</span></p>
            <h2><span style="font-weight: 400;">Define X is What Percent of Y?</span></h2>
            <p><span style="font-weight: 400;">A number is a part and another number is a base according to the percent
                    proportion. And percent means 100 is the base. X is what percent of Y means a number is which
                    percent of Y. Here X represents the part, and Y is the base. X is what percent of Y formula is
                    here:</span></p>
            <p><strong>X is what % of Y = <span class="frac"><span>x</span><span class="symbol">/</span><span class="bottom">y</span></span> x 100%</strong></p>
            <p><span style="font-weight: 400;">Percent = <span class="frac"><span>x</span><span class="symbol">/</span><span class="bottom">y</span></span> x 100%, where X, Y &gt; 0</span></p>
            <h3><span style="font-weight: 400;">How to Find X is What Percent of Y?</span></h3>
            <p><span style="font-weight: 400;">The guidelines to represent X is what percent of Y are given here:</span>
            </p>
            <ul>
                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Know any two numbers i.e X
                        and Y, to find the percentage.</span></li>
                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Divide the value of X by
                        Y.</span></li>
                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Multiply the value with 100
                        to get the answer.</span></li>
            </ul>
            <h3><span style="font-weight: 400;">FAQs on X is What Percent of Y</span></h3>
            
                <p><strong>1. What is the percentage?</strong></p>
           
            <p><span style="font-weight: 400;">The percentage is defined as the ratio of two numbers. It can be used to
                    compare two numbers.</span></p>
           
                <p><strong>2. How do I calculate X percent of Y?</strong></p>
           
            <p><span style="font-weight: 400;">Substitute the values in the formula X percent of Y = <span class="frac"><span>x</span><span class="symbol">/</span><span class="bottom">100</span></span> x Y. And
                    perform math calculations to get the answer.</span></p>
           
                <p><strong>3. What is 25 percent of 100?</strong></p>
           
            <p><span style="font-weight: 400;">25 percent of 100 is 25.</span></p>
           
                <p><strong>4. Where can I find the examples on What Percent?</strong></p>
           
            <p><span style="font-weight: 400;">You can obtain the solved examples on what percent on our page. Get a
                    step-by-step explanation for every problem to understand it in a better way.</span></p>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
{% endblock %}