{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
  type="icon">

<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS --->
<title>Divisibility Rule for 4 - How to Test if a Number is Divisible by 4? - RoundingCalculator.Guru</title>
<meta name=description 
    content="Know all about the Divisibility Rule of 4, Steps on How to Check if a Number is Divisible by 4 in case of larger numbers too with ease.">
    
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- FACEBOOK --->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Divisibility Rule for 4 - How to Test if a Number is Divisible by 4? - RoundingCalculator.Guru" />
<meta property="og:description"
  content="Know all about the Divisibility Rule of 4, Steps on How to Check if a Number is Divisible by 4 in case of larger numbers too with ease. " />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter --->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Divisibility Rule for 4 - How to Test if a Number is Divisible by 4? - RoundingCalculator.Guru" />
<meta name="twitter:description"
  content="Know all about the Divisibility Rule of 4, Steps on How to Check if a Number is Divisible by 4 in case of larger numbers too with ease. " />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin --->
<meta property='og:title' content="Divisibility Rule for 4 - How to Test if a Number is Divisible by 4? - RoundingCalculator.Guru" />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
  content="Know all about the Divisibility Rule of 4, Steps on How to Check if a Number is Divisible by 4 in case of larger numbers too with ease." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
{% endblock %}

{% block content %} 
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="h1">Divisibility Rule for 4 - How to Check if a Number is Divisible by 4?</h1>
    </div>
    <div class="card-body">
      <p>Have you ever been in a dilemma about whether a given number is divisible by 4 or not? Then, you have landed on the right page where you will know about complete information related to the Divisibility Rule for 4. Refer to the further sections to know about the Divisibility Rule of 4, How to Test if a Number is Divisible by 4 or not, Worked Out Examples on Divisibility Test of 4, etc. Read on to study the tips &amp; tricks to solve problems on divisibility of large numbers too by 4 with ease.</p>
      <h2>What is the Divisibility Rule for 4?</h2>
      <p>As per the <a href="/divisibility-rules/">divisivility rule</a> of 4, a number is divisible by 4 if it has the last two digits that are multiples of 4. You can learn this divisibility test of 4 and check if the given number is divisible by 4 or not without actually performing the division.</p>
      <p>For example: Let us say 24. 24 is divisible by 4 as 24 is a multiple of 4.</p>
      <h3>How to Test Divisibility by 4?</h3>
      <p>Go through the simple process over here to check if a number is divisible by 4 or not. They are as follows</p>
      <ul>
      <li>The first step is to look at the last two digits of the number.</li>
      <li>If the last two digit numbers are zeros or a multiple of 4 then it is divisible by 4.</li>
      </ul>
      <p>To help you get a better knowledge of the Divisibility Test of 4 you can see the worked-out examples mentioned below.</p>
      <h3>Divisibility Test of 4 Examples</h3>
      <p>Consider the following numbers and tell if they are divisible by 4 or not.</p>
      <p><strong>Example 1.</strong></p>
      <p>120</p>
      <p><strong>Solution:</strong></p>
      <p>Given number is 120</p>
      <p>Looking at the last two digits we have 20</p>
      <p>20 is a multiple of 4</p>
      <p>As per the divisibility test if the last two digits are a multiple of 4 then the given number is divisible by 4.</p>
      <p>Therefore, 120 is a multiple of 4.</p>
      <p><strong>Example 2.</strong></p>
      <p>243</p>
      <p><strong>Solution:</strong></p>
      <p>Given number is 243</p>
      <p>Observing the last two digits we have 43</p>
      <p>43 is not a multiple of 4</p>
      <p>We know from the divisibility test of 4 that if the last two digits are a multiple of 4 then it is divisible by 4.</p>
      <p>Therefore, 243 is not divisible by 4</p>
      <p><strong>Example 3.</strong></p>
      <p>1896</p>
      <p><strong>Solution:</strong></p>
      <p>Given number is 1896</p>
      <p>The last two digits of the number are 96</p>
      <p>Since 96 is a multiple of 4 given number is divisible by 4.</p>
      <p>To get acquainted with the divisibility rules of several numbers you can check our site <a href="https://roundingcalculator.guru/">Roundingcalculator.guru</a> and clear your doubts.</p>
      <h3>What numbers are divisible by 4</h3>
      <p><strong>List of Numbers divisible by 4:</strong> The Numbers 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, etc. are divisible by 4.</p>
      <h3>FAQs on Divisibility Test by 4</h3>
      <p><strong> What can be divisible by 4?</strong></p>
      <p>Numbers that have the last two digits zeros or multiple of 4 are divisible by 4.</p>
      <p><strong> Is 96 divisible by 4 yes or no?</strong></p>
      <p>Yes, 96 is divisible by 4.</p>
      <p><strong> How many two-digit numbers are there that are divisible by 4?</strong></p>
      <p>There are 22 two-digit numbers that are divisible by 4.</p>
      <p><strong> What is the divisibility test of 4?</strong></p>
      <p>Divisibility Test of 4 states that if a number has last two digits zeros or a multiple of 4 then the number is divisible by 4.</p>
    </div>
  </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
  crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  -->
{% endblock %}