{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
  type="icon">

<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS --->
<title>Divisibility Rule for 18 - How to Prove Divisibility Test of 18? - RoundingCalculator.Guru</title>
<meta name=description 
    content="Learn all about the Divisibility Rule for 18 and how to check if a number is divisible by 18 or not from the below sections.">
    
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- FACEBOOK --->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Divisibility Rule for 18 - How to Prove Divisibility Test of 18? - RoundingCalculator.Guru" />
<meta property="og:description"
  content="Learn all about the Divisibility Rule for 18 and how to check if a number is divisible by 18 or not from the below sections. " />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter --->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Divisibility Rule for 18 - How to Prove Divisibility Test of 18? - RoundingCalculator.Guru" />
<meta name="twitter:description"
  content="Learn all about the Divisibility Rule for 18 and how to check if a number is divisible by 18 or not from the below sections. " />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin --->
<meta property='og:title' content="Divisibility Rule for 18 - How to Prove Divisibility Test of 18? - RoundingCalculator.Guru" />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
  content="Learn all about the Divisibility Rule for 18 and how to check if a number is divisible by 18 or not from the below sections." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
{% endblock %}

{% block content %} 
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="h1">Divisibility Rule for 18 - Check if a Number is Divisible by 18</h1>
    </div>
    <div class="card-body">
      <p>If you are unable to determine whether a given number is divisible by 18 or not then you have come to the right place. In this article, we will explain What is meant by the Divisibility Rule of 18, How to find if a number is divisible by 18 or not without actually performing the division operation. We have even included a few solved examples on Divisibility by 18 for better knowledge. Without any further delay let&rsquo;s get started.</p>
      <h2>What is the Divisibility Rule for 18?</h2>
      <p>According to the <a href="/divisibility-rules/">divisivility rule</a> of 18, a number is exactly divisible by 18 if it is divisible by both 2 and 9. In other words, we can put it as a number is divisible by 18 if it is an even number and the sum of digits is divisible by 9. Both these conditions have to be satisfied for a number to be divisible by 18.</p>
      <h3>How to Test Divisibility Rule of 18?</h3>
      <p>In order to check if a number is divisible by 18 or not, you need to keep these tips in mind and they are listed below</p>
      <ul>
      <li>Firstly, before checking if a number is divisible by 18 see if they are divisible by both 2 and 9.</li>
      <li>In order to be divisible by 2 the last digit of the number must be even.</li>
      <li>In the same way, for a number to be divisible by 9, the sum of the digits must be divisible by 9.</li>
      <li>If both the conditions are satisfied then a number is divisible by 18.</li>
      </ul>
      <h3>Worked Out Examples on Divisibility Test of 18</h3>
      <p><strong>Example 1:</strong></p>
      <p>Check if the Number 1048 is divisible by 18 or not.</p>
      <p><strong>Solution:</strong></p>
      <p>Given Number is 1048</p>
      <p>First, let us see if the last digit is even or not. Here it is 8 and thus is divisible by 2.</p>
      <p>Now find the sum of digits i.e. 1 + 0 + 4 + 8 = 13</p>
      <p>See if it is divisible by 9 i.e. 13/9</p>
      <p>13 is not divisible by 9</p>
      <p>In order to be divisible by 18, the number 1045 has to be divisible by both 2 and 9</p>
      <p>Thus, 1045 is not divisible by 18.</p>
      <p><strong>Example 2:</strong></p>
      <p>Check whether 1458 is divisible by 18 or not.</p>
      <p><strong>Solution:</strong></p>
      <p>Given number is 1458</p>
      <p>Let us see if it is divisible by 2 or not. The last digit 8 is even so it is divisible by 2.</p>
      <p>Sum of digits = 1 + 4 + 5 + 8 = 18</p>
      <p>Divide the Sum of digits by 9 i.e. 18/9 = 2</p>
      <p>Since 1458 is divisible by both 2 and 9 it is also divisible by 18.</p>
      <p>To get acquainted with several divisibility rules you can visit our site <a href="https://roundingcalculator.guru/">Roundingcalculator.guru</a> and resolve all your doubts.</p>
      <h3>What numbers are divisible by 18</h3>
      <p><strong>List of Numbers divisible by 18:</strong> The Numbers 18, 36, 54, 72, 90, 108, 126, 144, 162, 180, 198, 216, 234, 252, 270, 288, 306, 324, 342, 360, 378, 396, 414, 432, 450, 468, 486, 504, 522, 540, 558, 576, 594, 612, 630, 648, 666, 684, 702, 720, 738, 756, 774, 792, 810, 828, 846, 864, 882, 900, 918, 936, 954, 972, 990, 1008, 1026, 1044, 1062, 1080, 1098, 1116, 1134, 1152, 1170, 1188, 1206, 1224, 1242, 1260, 1278, 1296, 1314, 1332, 1350, 1368, 1386, 1404, 1422, 1440, 1458, 1476, 1494, 1512, 1530, 1548, 1566, 1584, 1602, 1620, 1638, 1656, 1674, 1692, 1710, 1728, 1746, 1764, 1782, 1800, etc. are divisible by 18.</p>
      <h3>FAQs on 18 Divisibility Rule</h3>
      <p><strong> What is the divisibility rule of 18?</strong></p>
      <p>A Number is divisible by 18 if it is divisible by both 2 and 9.</p>
      <p><strong> Is 456 divisible by 18?</strong></p>
      <p>No, 456 is not divisible by 18.</p>
      <p><strong> How can we know that a number is divisible by 18?</strong></p>
      <p>We can know if a number is divisible by 18 or not by seeing the last digit of it and if it is even and the sum of digits is divisible b 9 then it is divisible by 18.</p>
      <h3>Conclusion</h3>
      <p>We believe the information shared regarding the Divisibility Rule of 18 has shed some knowledge on you. If you need any further assistance on the same feel free to contact us via comment box so that we can get back to you. Keep connected to avail latest updates on Divisibility Tests for different numbers.</p>
    </div>
  </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
  crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  -->
{% endblock %}