{%extends 'base/numbers_base3.html'%}

{%load static%}
{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="shortcut icon" href="https://roundingcalculator.guru/static/images/logo/Rounding-Calculator-icon.svg"
  type="icon">

<!-- CSS STARTS -->
{%block css%}
<link rel="stylesheet" href="https://roundingcalculator.guru/static/style2.css?ez_used_css_s=14">
{%endblock%}
<!-- CSS ENDS -->

<!-- META DATA STARTS --->
<title>Divisibility Rule for 11 - Examples on Divisibility by 11 - RoundingCalculator.Guru</title>
<meta name=description 
    content="Get the Divisibility Rule for 11 statement with examples. Also, know the proof of the divisibility test of 11.">
    
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- META DATA ENDS --->

<!-- FACEBOOK --->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Divisibility Rule for 11 - Examples on Divisibility by 11 - RoundingCalculator.Guru" />
<meta property="og:description"
  content="Get the Divisibility Rule for 11 statement with examples. Also, know the proof of the divisibility test of 11. " />
<meta content="" property="og:site_name" />
<meta content="/static/images/logo/rounding-calculator.png" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!-- Twitter --->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Divisibility Rule for 11 - Examples on Divisibility by 11 - RoundingCalculator.Guru" />
<meta name="twitter:description"
  content="Get the Divisibility Rule for 11 statement with examples. Also, know the proof of the divisibility test of 11. " />
<meta name="twitter:image:src" content="/static/images/logo/rounding-calculator.png" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- Linkedin --->
<meta property='og:title' content="Divisibility Rule for 11 - Examples on Divisibility by 11 - RoundingCalculator.Guru" />
<meta property='og:image' content="/static/images/logo/rounding-calculator.png" />
<meta property='og:description'
  content="Get the Divisibility Rule for 11 statement with examples. Also, know the proof of the divisibility test of 11." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
{% endblock %}

{% block content %} 
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="h1">Divisibility Rule for 11</h1>
    </div>
    <div class="card-body">
      <p>Division of numbers can be a difficult task for many students. Given the <a href="/divisibility-rules/">divisivility rule</a> for 11 is an option that can be useful. You can easily divide the large numbers with the 11 divisibility rule. In the following sections, we are giving the complete data about divisible by 11 such as what is the divisibility test for 11, how to test it, and examples.</p>
      <h2><strong>What is the Divisibility Rule for 11?</strong></h2>
      <p>The divisibility test for 11 tells that if the difference between the sum of the digits at odd places and the sum of the digits at even places of the number is either 0 or divisible by 11, then the given number is divisible by 11.</p>
      <h3><strong>Example Questions on Divisibility Test for 11</strong></h3>
      <p><strong>Question 1:</strong></p>
      <p>Test the divisibility of 11 for the number 10010.</p>
      <p><strong>Solution:</strong></p>
      <p>The given number is 10010</p>
      <p>Sum of digits at odd places = 1 + 0 + 0 = 1</p>
      <p>Sum of digits at even places = 0 + 1 = 1</p>
      <p>Difference = 1 - 1 = 0</p>
      <p>So, 10010 is divisible by 11.</p>
      <p><strong>Question 2:</strong></p>
      <p>Check if 4563 is divisible by 11</p>
      <p><strong>Solution:</strong></p>
      <p>Given number is 4563</p>
      <p>Sum of the digits at odd places (from the left) = 4 + 6 = 10</p>
      <p>Sum of the digits at even places = 5 + 3 = 8</p>
      <p>Difference = 10 - 8 = 2</p>
      <p>2 is not divisible by 11</p>
      <p>Therefore, 4563 is not divisible by 11</p>
      <h3>What numbers are divisible by 11</h3>
      <p><strong>List of Numbers divisible by 11:</strong> The Numbers 11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176, 187, 198, 209, 220, 231, 242, 253, 264, 275, 286, 297, 308, 319, 330, 341, 352, 363, 374, 385, 396, 407, 418, 429, 440, 451, 462, 473, 484, 495, 506, 517, 528, 539, 550, 561, 572, 583, 594, 605, 616, 627, 638, 649, 660, 671, 682, 693, 704, 715, 726, 737, 748, 759, 770, 781, 792, 803, 814, 825, 836, 847, 858, 869, 880, 891, 902, 913, 924, 935, 946, 957, 968, 979, 990, 1001, 1012, 1023, 1034, 1045, 1056, 1067, 1078, 1089, 1100, etc. are divisible by 11.</p>
      <h3><strong>FAQs on Divisibility Rule of 11</strong></h3>
      <p><strong>1. Define the rule of divisibility by 11?</strong></p>
      <p>If the difference of the sum of alternative digits of a number is divisible by 11, then that number is divisible by 11 completely.</p>
      <p><strong>2. Which statement supports the divisibility rule for number 11?</strong></p>
      <p>If the difference between the sum of the odd-numbered digits and the sum of the even-numbered digits, counted from right to left, is divisible by 11, then the number is divisible by 11.</p>
      <p><strong>3. Is 1568 divisible by 11?</strong></p>
      <p>No, 1568 is not divisible by 11.</p>
    </div>
  </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
  crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  -->
{% endblock %}